<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ routes.root_url }}">Home</a>
    </li>
    {% if template contains 'collection' and collection.handle -%}
    <li class="breadcrumb-item">
     <a href="{{ routes.collections_url }}">All Collections</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ collection.title }}</li>
    {%- endif %}
    {% if template contains 'product' and product.handle -%}
    {% assign product_collection = product.collections | last %}
    <li class="breadcrumb-item">
      <a href="{{ routes.collections_url }}">All Collections</a>
    </li>
    <li class="breadcrumb-item">
     <a href="{{ collections[product_collection.handle].url }}">{{ product_collection.title }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    {%- endif %}
  </ol>
</nav>

<style>
  .breadcrumb a {
    color: slategrey;
  }

  .breadcrumb a:hover {
    color: black;
  }
  
  .breadcrumb .active {
    color: black;
    font-weight: 900;
  }
</style>