<div class="card shadow-sm border border-light mb-4">
  <div class="card-body p-3 p-md-0">
    <div class="row align-items-center">
      <div class="col-md-auto text-center mb-3 mb-md-0">
        <img :src="lineItemImage(lineItem.image)">
      </div>
      <div class="col-md-5 text-center text-md-left mb-3 mb-md-3">
        <h4 class="cart--label--title">@{ lineItem.title }</h4>
        <div class="cart--price">
          <template v-if="lineItem.product_type != 'Gift With Purchase'">
            <strong>{{ 'cart.label.price' | t }}</strong>
            <span>@{ formatMoney(lineItem.original_price) }</span>
          </template>
          <template v-else>
            <strong>{{ 'cart.label.price_free' | t }}</strong>
            <p class="font-italic">
              @{ lineItem.product_description }
            </p>
          </template>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-5 mb-3 mb-md-0">
            <input-cart-qty v-if="lineItem.product_type != 'Gift With Purchase'" :qty="lineItem.quantity" :id="lineItem.key" :label-updating="labelUpdating" @cartupdating="cartIsBusy" @cartupdated="updateCart"></input-cart-qty>
          </div>
          <div class="col-md-5 mb-3 mb-md-0">
            <line-item-subtotal :subtotal="formatMoney(lineItem.original_line_price)"></line-item-subtotal>
          </div>
          <div class="col-md-2 mb-3 mb-md-0">
            <div v-if="lineItem.product_type != 'Gift With Purchase'" class="cart--action--remove-button text-center">
              <button class="btn btn-link text-reset" @click="removeCart(lineItem.key, lineItem.title)" :disabled="isUpdating">
              <template v-if="isUpdating">
                <i class="fas fa-circle-notch fa-spin"></i>
              </template>
              <template v-else>
                <i class="fas fa-times"></i>
              </template>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
