<div id="{{ section.id }}--currency-selector" class="currency-selector">
  {% form 'currency' %}
  <input id="{{ section.id }}--currency-input" type="hidden" name="currency" :value="currency" />
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ${ currency }
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      {% for currency in shop.enabled_currencies -%}
      <a class="dropdown-item" href="#" v-on:click="changeCurrency('{{ currency.iso_code }}')">
        {{ currency.iso_code }} {{ currency.symbol }}
      </a>
      {%- endfor %}
    </div>
  </div>
  {% endform %}
</div>
{% style %}
#shopify-section-{{ section.id }} .currency-selector {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#shopify-section-{{ section.id }} .currency-selector .dropdown .btn {
  background: none;
  color: inherit;
  font-size: {{ section.settings.topbar_notification__font_size}}px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 0;
}

#shopify-section-{{ section.id }} .currency-selector .dropdown .btn:active,
#shopify-section-{{ section.id }} .currency-selector .dropdown .btn:focus,
#shopify-section-{{ section.id }} .currency-selector .dropdown.show > .btn,
#shopify-section-{{ section.id }} .currency-selector .dropdown > .btn {
  background: none;
  box-shadow: none;
  border: none;
  color: inherit;
  outline: none;
}

#shopify-section-{{ section.id }} .currency-selector .dropdown-menu {
  background-color: {{ '#000000' | color_lighten: 20 }};
  min-width: 1rem;
}

#shopify-section-{{ section.id }} .currency-selector .dropdown-menu .dropdown-item {
  background: {{ '#000000' | color_lighten: 25 }};
  color: #FFFFFF;
  font-size: {{ section.settings.topbar_notification__font_size}}px;
  text-decoration: none !important;
  transition: all .2s ease-in-out;

}
#shopify-section-{{ section.id }} .currency-selector .dropdown-menu .dropdown-item:hover {
  background: {{ '#000000' | color_lighten: 20 }};
  box-shadow: 2px 2px 8px {{ '#000000' | color_lighten: 10 | color_modify: 'alpha', 0.6 }};
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateX(5px);
}
{% endstyle %}
<script type="text/javascript">
const vue = new Vue({
  el: '#{{ section.id }}--currency-selector',
  data: {
    currency: '{{ cart.currency.iso_code }} {{ cart.currency.symbol }}'
  },
  delimiters: ['${', '}'],
  methods: {
    changeCurrency: async function(currency) {
      this.currency = await currency;

      Vue.nextTick(function() {
        jQuery('#currency_form').submit();
      });
    }
  }
});
</script>
