<div class="my-order--container">
  <div class="customer-account--header">
    <h1 class="text-center py-3">{{ 'customer.general.my_orders' | t }}</h1>
  </div>
  <div class="customer-account--body px-3 py-2">
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'customer.label.order_ref' | t }}</th>
        <th>{{ 'customer.label.order_date' | t }}</th>
        <th class="text-right">{{ 'customer.label.order_total' | t }}</th>
        <th class="text-center">{{ 'customer.label.order_status' | t }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for order in customer.orders %}
        <tr>
          <td>{{ order.order_number }}</td>
          <td>{{ order.created_at | date: format: 'date_at_time' }}</td>
          <td class="text-right">{{ order.total_price | money_with_currency }}</td>
          <td class="text-center">
            <a class="font-weight-bold text-dark order-status--{{ order.fulfillment_status }}" href="{{ order.order_status_url }}" target="_blank">
              {{ order.fulfillment_status }}
            </a>
          </td>
          <td>
            <a href="{{ order.customer_url }}" class="btn btn-outline-info">
              {{ 'button.view_order_details' | t }}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
