{% assign member_details = customer.metafields.poket_loyalty.member_details %}

<div class="my-point--container">
  <div class="customer-account--header">
    <h1 class="text-center py-3">{{ 'customer.general.my_points' | t }}</h1>
  </div>
  <div class="customer-account--body px-3 py-2">
    <div class="text-center">
      <p><strong>{{ 'customer.general.current_points' | t }}</strong></p>
      <h2><strong>{{ member_details.balancePoints }}</strong></h2>
      <div class="irvins-danger-points-badge">
        <span>
          {{ 'customer.label.irv_danger_points' | t }}
        </span>
      </div>
    </div>
  </div>
</div>
