{% assign vouchers = customer.metafields.poket_loyalty.member_details.vouchersAvailable %}
<div class="my-point--container">
  <div class="customer-account--header">
    <h1 class="text-center py-3">{{ 'customer.general.rewards_and_gifts' | t }}</h1>
  </div>
  <div class="customer-account--body px-3 py-2">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        {% for voucher in vouchers %}
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-0">
            <div class="row no-gutters align-items-stretch justify-content-between">
              <div class="col py-3">
                <div class="customer-account--voucher-name">
                  <strong>{{ voucher.name }}</strong>
                </div>
                <div class="customer-account--voucher-expire text-muted">
                  {{ 'customer.general.valid_till' | t }} {{ voucher.expiryDate | date: format: 'date' }}
                </div>
              </div>
              <div class="col-auto align-self-stretch">
                <div class="customer-account--redeem-button text-right py-4 pl-4">
                  <button type="button" class="btn btn-link text-reset" data-toggle="modal" data-target="#modalVoucher-{{ voucher.code }}">
                    <strong>{{ 'button.redeem_reward' | t }}</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="modalVoucher-{{ voucher.code }}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="modalVoucher-{{ voucher.code }}Label"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content customer-account--modal-content">
              <div class="modal-body">
                <div class="pb-3 text-center">
                  <div class="h5"><strong>{{ voucher.name }}</strong></div>
                  <div>{{ 'customer.general.valid_till' | t }} {{ voucher.expiryDate | date: format: 'date' }}</div>
                </div>

                <div class="pb-3">
                  <button type="button" disabled class="customer-account--button-voucher btn btn-block btn-light">
                    <strong>{{ voucher.code | upcase }}</strong>
                  </button>
                </div>

                <div class="customer-account--voucher-tnc">
                  <div><strong>{{ 'customer.general.terms_and_conditions' | t }}</strong></div>
                  <ul>
                    <li>This voucher may not be used with any promotions or discounts.</li>
                    <li>Only one voucher may be used per transaction.</li>
                    <li>Not exchangeable for cash or any products.</li>
                    <li>Valid for 6 months from the date the voucher is credited to your account (expiry date indicated above).</li>
                    <li>Valid for one-time use on https://irvinsaltedegg.com and in all retail cartels in Singapore.</li>
                    <li>For redemption in retail cartels, e-voucher must be presented upon redemption.</li>
                    <li>Once this voucher is used, its value is non-refundable.</li>
                    <li>Voucher may not be sold, transferred or assigned to any other person or account.</li>
                    <li>The full terms and conditions are available on IRVINS Salted Egg website.</li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer text-center border-top-0">
                <button
                  type="button"
                  class="btn btn-block btn-dark"
                  data-dismiss="modal"
                  data-clipboard-text="{{ voucher.code | upcase }}"
                >
                  {{ 'button.copy_to_clipboard' | t }}
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
