<div class="customer-account--profile text-center">
  <h4 class="customer-account--name">{{ customer.name | upcase }}</h4>
  <div class="customer-account--danger-club">
    <strong>{{ customer.metafields.poket_loyalty.member_details.memberStatus.name }}</strong>
    {{ 'customer.general.member' | t }}
  </div>
  <div class="customer-account--email">{{ customer.email }}</div>
</div>

<div class="customer-account--menu mt-5 pb-5">
  <div class="customer-account--menu--header text-muted"><strong>{{ 'customer.label.account' | t }}</strong></div>
  <ul class="pb-3">
    <li><a href="{{ routes.account_url }}" class="{%- if request.page_type == 'customers/account' -%} active {%- endif -%}">{{ 'customer.link.orders' | t }}</a></li>
    <li><a href="{{ routes.account_addresses_url }}" class="{%- if request.page_type == 'customers/addresses' -%} active {%- endif -%}">{{ 'customer.link.address' | t }}</a></li>
    {% comment %}<li><a href="#change-password">{{ 'customer.link.change_password' | t }}</a></li>{% endcomment %}
    <li><a href="{{ routes.account_logout_url }}">{{ 'customer.link.logout' | t }}</a></li>
  </ul>

  <div class="customer-account--menu--header text-muted"><strong>{{ 'customer.label.danger_club' | t }}</strong></div>
  <ul>
    <li><a href="/account#my_points" @click="setPage('loyalty__my_points')" class="">{{ 'customer.link.my_points' | t }}</a></li>
    <li><a href="/account#rewards_and_gifts" @click="setPage('loyalty__rewards_and_gifts')" class="">{{ 'customer.link.rewards_and_gifts' | t }}</a></li>
  </ul>
</div>
