<div class="component--dangerline--wrapper">
  <div class="component--dangerline"></div>
</div>

{% style %}
.component--dangerline--wrapper {
  width: 100%;
  overflow: hidden;
}

.component--dangerline {
  background-image: linear-gradient(
    135deg,
    {{ color_1 }} 25%,
    {{ color_2 }} 25%,
    {{ color_2 }} 50%,
    {{ color_1 }} 50%,
    {{ color_1 }} 75%,
    {{ color_2 }} 75%,
    {{ color_2 }} 100%
  );
}
{% endstyle %}
