{%- assign collection_1 = collections[blocks[0].settings.collection_handle]-%}
{%- assign collection_2 = collections[blocks[1].settings.collection_handle]-%}
{%- assign collection_3 = collections[blocks[2].settings.collection_handle]-%}
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div id="collection--item--{{blocks[0].id}}" class="collection--item position-relative">
      <div class="collection-image">
        {{ collection_1.image | img_url: '540x250', crop: 'center' | img_tag: collection_1.title, 'img-fluid' }}
      </div>
      <div class="collection--content position-absolute">
        <div class="collection--title">
          {{ collection_1.title }}
        </div>
        <div class="collection--button">
          <a href="{{ collection_1.url }}" type="button" class="btn {{ blocks[0].settings.collection_button_size }}">
            {{ 'button.shop_now' | t | upcase }}
          </a>
        </div>
      </div>
    </div>
    <div id="collection--item--{{blocks[1].id}}" class="collection--item position-relative">
      <div class="collection-image">
        {{ collection_2.image | img_url: '540x250', crop: 'center' | img_tag: collection_2.title, 'img-fluid' }}
      </div>
      <div class="collection--content position-absolute">
        <div class="collection--title">
          {{ collection_2.title }}
        </div>
        <div class="collection--button">
          <a href="{{ collection_2.url }}" type="button" class="btn {{ blocks[1].settings.collection_button_size }}">
            {{ 'button.shop_now' | t | upcase }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="collection--item--{{blocks[2].id}}" class="col-md-6 col-sm-12">
    <div class="collection--item position-relative">
      <div class="collection--image">
        {{ collection_3.image | img_url: '540x530', crop: 'center' | img_tag: collection_3.title, 'img-fluid' }}
      </div>
      <div class="collection--content position-absolute">
        <div class="collection--title">
          {{ collection_3.title }}
        </div>
        <div class="collection--button">
          <a href="{{ collection_3.url }}" type="button" class="btn {{ blocks[2].settings.collection_button_size }}">
            {{ 'button.shop_now' | t | upcase }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
