<div class="row">
  {% for block in blocks %}
  {% assign product = all_products[block.settings.product_handle] %}
    <div class="col-md-3 pb-3">
        {% render 'product-card', product: product %} 
    </div>
    {% endfor %}
</div>
