<div class="col">
  <div class="main-menu">
    {% assign links = linklists[section.settings.main_nav].links %}
    {% render 'top-menu', align_class: 'justify-content-start', links: links %}
  </div>
</div>
<div class="col-auto">
  {% render 'top-logo' %}
</div>
<div class="col">
  <div class="row justify-content-end align-items-center account-cart">
    {% render 'top-account-menu' %}

    {% render 'top-cart-menu' %}
  </div>
</div>
