<div class="col-sm-3">
  {% render 'top-logo' %}
</div>

<div class="col-sm-6">
  {% assign links = linklists[section.settings.main_nav].links %}
  {% render 'top-menu', align_class: 'justify-content-center', links: links %}
</div>

<div class="col-sm-3">
  <div class="row justify-content-end align-items-center account-cart">
    {% render 'top-account-menu' %}

    {% render 'top-cart-menu' %}
  </div>
</div>
