<div class="col-sm-6 col-md-4 col-xl-3 pb-4">
  <div class="card location-card h-100 rounded-0 border-0 shadow-sm">
    <img src="{{ location.image | img_url: '350x200', crop: 'center' }}" class="card-img-top rounded-0" alt="">
    <div class="card-body">
      <h5 class="card-title location-title"><strong>{{ location.title | newline_to_br }}</strong></h5>
      <p class="card-text location-opening-hours">
        {{ location.opening_hours | newline_to_br }}
      </p>
      <p class="card-text location-address">
        {{ location.address | newline_to_br }}
      </p>
    </div>
    <div class="card-footer text-center pb-4">
      {% if location.google_map_url.size > 0  %}
      <a href="{{ location.google_map_url }}" class="btn btn-warning rounded-0 btn-block" target="_blank">
        <strong>{{ location.button_text }}</strong>
      </a>
      {% endif %}
    </div>
  </div>
</div>
