<div id="mainToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
  <div class="toast-header">
    <span id="mainToastIcon"></span>
    <strong id="mainToastTitle" class="mr-auto"></strong>
    <button id="mainToastCloseBtn" type="button" data-dismiss="toast" class="ml-2 mb-1 close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="mainToastBody" class="toast-body"></div>
</div>
