{%- assign selected_variant = product.variants.first  -%}

{%- if product.has_only_default_variant -%}
{%- assign  product_variant_image = product -%}
{%- else -%}
{%- assign  product_variant_image = selected_variant -%}
{%- endif -%}
<div
  id="productModal-{{ product.id }}"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  aria-labelledby="productModal-{{ product.id }}"
>
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-0">
      <div class="modal-header rounded-0">
        <h3 class="modal-title product-modal--title">{{ product.title }}</h3>
        <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 rounded-0">
        <div class="product-modal--image">
          <img class="img-fluid" :src="productImage" :alt="productImageAlt">
        </div>
        <div class="product-modal--add-to-cart p-3">

          <div class="form-group">
            <label>{{ 'product.label.select_size' | t }}</label>
            <select
              class="form-control border-secondary rounded-0 d-none"
              v-model="selectedVariantId"
              :disabled="isLoading">
            {% for product_variant in product.variants -%}
              <option value="{{ product_variant.id }}">
                {% if product.has_only_default_variant %}
                  {{ 'product.label.default_size' | t }}
                {%- else -%}
                  {{ product_variant.title }}
                {%- endif %}

                ({{ product_variant.weight | weight_in_unit }}{{ product_variant.weight_unit }})
                -
                {% if product_variant.available or product_variant.inventory_policy == 'continue' %}
                  {{ product_variant.price | money_with_currency }}
                {% else %}
                  ({{ 'product.label.out_of_stock' | t }})
                {% endif %}
              </option>
            {%- endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                class="btn btn-warning rounded-0 shadow-none border-0"
                type="button" @click="quantity--"
                :disabled="quantity <= 1 || isLoading || !selectedVariantObject.available"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <input
              @blur="cartOnBlur()"
              type="text"
              class="form-control border-warning text-center"
              v-model="quantity"
              :disabled="isLoading || !selectedVariantObject.available"
            >
            <div class="input-group-append">
              <button
                class="btn btn-warning rounded-0"
                type="button" @click="quantity++"
                :disabled="isLoading || !selectedVariantObject.available"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <template v-if="limitItemsText">
            <div class="p-0 mt-n3">
              <small class="form-text text-danger text-center">
                {{ 'cart.general.limit_items' | t: size: settings.maximum_cart_size  }}
              </small>
            </div>
          </template>

          <button
            type="button"
            class="btn btn-warning btn-block rounded-0"
            :disabled="isLoading || !selectedVariantObject.available || selectedVariantObject.inventory_policy == 'deny' || quantity == 0"
            {% if product.available %}
              @click="addToCart()"
            {% endif %}
          >
            <span v-show="isLoading" class="spinner">
              <i class="fas fa-fw fa-spin fa-circle-notch"></i>
            </span>
            <template v-if="selectedVariantObject.available">
              {{ 'button.add_to_cart' | t }}
            </template>
            <template v-else>
              {{ 'button.out_of_stock' | t }}
            </template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const ProductModal_{{ product.id }} = new Vue({
    el: '#productModal-{{ product.id }}',
    data: {
      isLoading: false,
      quantity: 1,
      selectedVariantId: '{{ selected_variant.id  }}',
      selectedVariantObject: {{ selected_variant | json }},
      productImage: '{{ product_variant_image | img_url: '600x600' }}',
      productImageAlt: '{{ product_variant_image.featured_image.alt }}',
      productVariants: {{ product.variants | json }},
      limitItemsText: false
    },
    methods: {
      addToCart() {
        this.isLoading = true;
        const that = this;

        let nonGwpCount = 0;
        let _cart_items;
        jQuery.getJSON('/cart.js', (cart) => {
          _cart_items = cart.items;
        }).then(() => {
          _cart_items = _cart_items.filter((item) => item.product_type != "Gift With Purchase" && item.key != that.id);
          for (let _cart_item in _cart_items) {
            if (!_cart_items.hasOwnProperty(_cart_item)) continue;
            nonGwpCount += _cart_items[_cart_item].quantity;
          };
          if (this.quantity > ({{ settings.maximum_cart_size }} - nonGwpCount)) {
            this.limitItemsText = true;
            this.quantity = ({{ settings.maximum_cart_size }} - nonGwpCount);
            that.isLoading = false;
          } else {
          jQuery.post('/cart/add.js', {
            quantity: that.quantity,
            id: that.selectedVariantObject.id
          }, function(result) {
            {% capture product_name %}
            ${result.title}
            {% endcapture %}

            showMainToast('{{ 'cart.general.success' | t }}', `{{ 'cart.general.cart_added' | t: product_name: product_name }}`, 'fa-shopping-cart');
          }, 'json')
            .catch((error) => {
              const errorResponse = error.responseJSON;
              showMainToast(errorResponse.message, errorResponse.description, 'fa-exclamation-triangle');
            })
            .always(function() {
              that.isLoading = false;
              that.quantity = 1;
              jQuery('#productModal-{{ product.id }}').modal('hide');
              updateCartIcon();
            });
          }
        });
      },
      cartOnBlur() {
        if (this.quantity == '') {
          this.quantity = 1;
        }
      },
    },
    name: 'ProductModal_{{ product.id }}',
    watch: {
      quantity: function (newVal, oldVal) {
        if (newVal.toString().match(/^\d{0,2}$/) && (newVal >= 0 || newVal == '')) {
          this.quantity = newVal;
        } else {
          this.quantity = oldVal;
        }
      },
      selectedVariantId: function (variantId) {
        this.selectedVariantObject = _.find(this.productVariants, {
          id: parseInt(variantId)
        });
      },
      selectedVariantObject: function (variantObject) {
        this.productImage = Shopify.resizeImage(variantObject.featured_image.src, '600x600');
        this.productImageAlt = variantObject.featured_image.alt === null ? variantObject.name : variantObject.featured_image.alt;
      }
    }
  });
</script>
