<div class="card product-card rounded-0 h-100 border border-light shadow-sm pb-2 warning-ribbon">
  {% if product.compare_at_price != blank%}
    <aside class="_sale"><p class="h5">{{ 'product.label.sale' | t | upcase }}</p></aside>
  {% endif %}
  {% if product.tags contains "Selling Fast" %}
  <div class="position-absolute">
    <h5><span class="badge badge-warning rounded-0 position-absolute px-4 py-2">{{ 'product.label.selling_fast' | t }}</span></h5>
  </div>
  {% endif %}
  <div class="card-img-top product-card--image">
    <a href="{{ product.url }}">
      {{ product | img_url: '500x500' | img_tag: product.images[0].alt }}
    </a>
  </div>
  <div class="card-body product-card--body pt-3 text-center">
    <div class="product-card--title px-3">
      <a href="{{ product.url }}" class="text-reset">
        {{ product.title }}
      </a>
    </div>

    <div class="product-card--price pb-3">
      {% if product.price_varies %}
        {{ product.price_min | money_with_currency }}~{{ product.price_max | money_with_currency }}
      {% else %}
        {{ product.price | money_with_currency }}
        {% if product.compare_at_price %}
        <span class="product-card--price-slashed">
          {{ product.compare_at_price | money }}
        </span>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="card-footer border-0 bg-transparent product-card--action">
    <button
      data-toggle="modal"
      data-target="#productModal-{{ product.id }}"
      type="button"
      class="
        btn
        btn-block
        btn-warning
        border-0
        shadow-none
        rounded-0
        product-card--button--add-to-cart
        {% unless product.available -%}
        product-card--out-of-stock
        {%- endunless -%}
      "
      {% unless product.available -%}
        disabled
      {%- endunless -%}
    >
      {%- if product.available -%}
        {{ 'button.add_to_cart' | t }}
      {%- else -%}
        {{ 'button.out_of_stock' | t }}
      {%- endif -%}
    </button>
  </div>
</div>

{% render 'product-modal', product: product %}
