<div class="product-add-to-cart">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-warning rounded-0" type="button" @click="quantity--" :disabled="quantity == 1 || isLoading">
        <i class="fas fa-minus"></i>
      </button>
    </div>
    <input
      @blur="cartOnBlur()"
      type="text"
      class="form-control border-warning text-center"
      v-model="quantity"
      :disabled="isLoading"
    >
    <div class="input-group-append">
      <button class="btn btn-warning rounded-0" type="button" @click="quantity++" :disabled="quantity == isLoading">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <template v-if="limitItemsText">
    <div class="p-0 mt-n3">
      <small class="form-text text-danger text-center">
        {{ 'cart.general.limit_items' | t: size: settings.maximum_cart_size  }}
      </small>
    </div>
  </template>
  <button
    id="productAddToCartBtn"
    type="button"
    class="btn btn-warning btn-block rounded-0"
    :disabled="isLoading || !{{ product.available }} || quantity == 0"
    {% if product.available %}
      @click="addToCart()"
    {% endif %}
  >
    <span v-show="isLoading" class="spinner">
      <i class="fas fa-fw fa-spin fa-circle-notch"></i>
    </span>
    {%- if product.available -%}
      {{ 'button.add_to_cart' | t }}
    {%- else -%}
      {{ 'button.out_of_stock' | t }}
    {%- endif -%}
  </button>
</div>
