{% form 'recover_customer_password' %}
  <h2 class="text-center m-0 py-3">{{ 'customer.general.reset_password' | t }}</h2>
  <div class="text-center mb-4">{{ 'customer.general.reset_password_description' | t }}</div>

  {% if form.posted_successfully? %}
    {% assign reset_form_success = true %}
    <div class="alert alert-success">{{ 'customer.general.reset_password_success' | t }}</div>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger">{{ form.errors.messages['form'] }}</div>
  {% endif %}

  {% unless form.posted_successfully? %}
    <div class="form-group">
      <label for="RecoverEmail">{{ 'customer.label.email' | t }}</label>
      <input type="email" value="" name="email" id="RecoverEmail" class="form-control {% if form.errors -%} is-invalid {%- endif -%}">
    </div>

    <div class="form-group text-center">
      <p>
        <button type="submit" class="btn btn-login">{{ 'button.reset_password' | t }}</button>
      </p>
      <button type="button" @click="cancelResetPassword()" class="btn btn-link">{{ 'button.cancel' | t }}</button>
    </div>
  {% endunless %}
{% endform %}
