<div class="sidebar--collection-list--container">
  <div class="accordion" id="sidebar-accordion">
    <div id="card--collection" class="card">
      <div class="card-header sidebar-collapse--header p-0 m-0" id="collection-collapse--header">
        <h2 class="sidebar--header mb-0">
          <button
            class="btn btn-link btn-block text-left p-0"
            type="button" data-toggle="collapse"
            data-target="#collection-collapse"
            aria-expanded="true"
            aria-controls="collection-collapse"
          >
            <span class="float-left">{{ 'collection.label.shop' | t | upcase }}</span>
            <i class="fas fa-angle-down float-right"></i>
          </button>
        </h2>
      </div>
      <div id="collection-collapse" class="collapse show" aria-labelledby="collection-collapse--header" data-parent="#sidebar-accordion">
        <div class="card-body p-0">
          <ul class="sidebar-list--wrapper">
            {% for collection_item in collections %}
              <li class="sidebar-list--item">
                <a href="{{ collection_item.url }}" class="
                pb-1
                {% if collection_item.handle == collection.handle -%}
                  active
                {%- endif -%}
                ">
                  {{ collection_item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="card--category" class="card">
      <div class="card-header sidebar-collapse--header p-0 m-0" id="category-collapse--header">
        <h2 class="sidebar--header mb-0">
          <button
            class="btn btn-link btn-block text-left p-0"
            type="button" data-toggle="collapse"
            data-target="#category-collapse"
            aria-expanded="true"
            aria-controls="category-collapse"
          >
            <span class="float-left">{{ 'collection.label.category' | t | upcase }}</span>
            <i class="fas fa-angle-down float-right"></i>
          </button>
        </h2>
      </div>
      <div id="category-collapse" class="collapse" aria-labelledby="category-collapse--header" data-parent="#sidebar-accordion">
        <div class="card-body p-0">
          <ul class="sidebar-list--wrapper">
            {% for tag in collection.all_tags %}
              {% assign tag_handle = tag | handleize %}
              <li class="sidebar-list--item">
              {% if request.path contains tag_handle %}
                {{ tag | link_to_tag: tag | replace: '<a', '<a class="active"' }}
              {% else %}
                {{ tag | link_to_tag: tag }}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="card--type" class="card">
          <div class="card-header sidebar-collapse--header p-0 m-0" id="product-type-collapse--header">
            <h2 class="sidebar--header mb-0">
              <button
                class="btn btn-link btn-block text-left p-0"
                type="button" data-toggle="collapse"
                data-target="#product-type-collapse"
                aria-expanded="true"
                aria-controls="product-type-collapse"
              >
                <span class="float-left">{{ 'collection.label.product_type' | t | upcase }}</span>
                <i class="fas fa-angle-down float-right"></i>
              </button>
            </h2>
          </div>
          <div id="product-type-collapse" class="collapse" aria-labelledby="product-type-collapse--header" data-parent="#sidebar-accordion">
            <div class="card-body p-0">
              <ul class="sidebar-list--wrapper">
                {% for type in collection.all_types -%}
                <li class="sidebar-list--item">
                 {{ type | link_to_type }}
                </li>
                {%- endfor %}
              </ul>
            </div>
          </div>
        </div>
  </div>
</div>
