<div class="col-auto account-cart--item d-none d-md-flex">
{% if customer %}
  <a href="{{ routes.account_url }}" class="{% if link.active %} active {% endif %}">
    {{ 'customer.link.my_account' | t }}
  </a>
{% else %}
  <a href="{{ routes.account_login_url }}" class="{% if link.active %} active {% endif %}">
    {{ 'customer.link.login' | t }}
  </a>
  <a href="{{ routes.account_register_url }}" class="{% if link.active %} active {% endif %}">
    {{ 'customer.link.register' | t }}
  </a>
{% endif %}
</div>
