{%- for link in links -%}
{%- if link.levels > 0 -%}
<div class="collapse dropdown-collapse" id="menu-dropdown--{{ link.title | handleize }}">
  <div class="menu-dropdown--wrapper">
    <div class="container">
      <div class="row">
      {% for child_link in link.links %}
        <div class="col-md-3 col-sm-6">
          <div class="menu-dropdown--item">
            {%- if child_link.type == 'product_link' or child_link.type == 'collection_link' -%}
              <div class="menu-dropdown--image text-center">
                {{ child_link.object | img_url: '255x255' | img_tag: child_link_title, 'img-fluid' }}
              </div>
              <div class="menu-dropdown--title text-center">
                <a class="btn-irv btn-irv-link btn-irv-dark" href="{{ child_link.url }}">{{ child_link.title }}</a>
              </div>

              {%- if child_link.type == 'collection_link' -%}
              <div class="menu-dropdown--description text-center">
                {{ child_link.object.description }}
              </div>
              {%- endif -%}
            {%- else -%}
              <div class="menu-dropdown--title">
              {%- if child_link.levels > 0 -%}
                {{ child_link.title }}
              {%- else -%}
                <a class="btn-irv btn-irv-link btn-irv-dark" href="{{ child_link.url }}">{{ child_link.title }}</a>
              {%- endif -%}

              </div>
              <ul class="menu-dropdown--linklist--container">
              {% for child_link_item in child_link.links -%}
                <li class="menu-dropdown--linklist--item">
                  <a class="btn-irv btn-irv-link btn-irv-dark" href="{{ child_link_item.url }}">
                    {{ child_link_item.title }}
                  </a>
                </li>
              {%- endfor %}
              </ul>
            {%- endif -%}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- endif -%}
{%- endfor -%}

{% style %}
.menu-dropdown--wrapper {
  background: {{ section.settings.background_color }};
  border-top: 1px solid {{ section.settings.background_color | color_lighten: 20 }};
}

.menu-dropdown--item {
  font-family: {{ section.settings.font.family }}, {{ section.settings.font.fallback_families }};
}
{% endstyle %}

<script type="text/javascript">
jQuery(document).ready(function ($) {
  $('body').click(function (e) {
    if ($(e.target).closest('.menu-dropdown--wrapper').length === 0 ) {
      $('.dropdown-collapse').collapse('hide');
    }
  });
});
</script>
