<div class="col-auto account-cart--item">
  <a href="{{ routes.cart_url }}" class="cart-icon">
    <span class="cart-item--icon">
      <i class="fas fa-lg fa-shopping-basket"></i>
    </span>
      <span class="cart-item--count"></span>
  </a>
</div>