<div class="main-menu">
  <button id="mobileMenuBtnRoot" type="button" data-level="root" data-target="#mobileRootMenu" class="text-reset mobile-menu-button btn btn-link d-md-none border-0 rounded-0">
    <div class="menu-bars"></div>
  </button>
  <ul id="mobileRootMenu" class="menu-item-mobile--container animate__faster d-md-none d-block pt-2">
  {% for link in links -%}
    <li class="menu-item-mobile">
      <a href="{{ link.url }}" role="button" class="clearfix p-3 d-block text-reset {% if link.active -%} active {%- endif -%}">
        {{- link.title | escape -}}
        {% if link.levels > 0 -%}
        <span class="float-right">
          <i class="fas fa-fw fa-caret-right"></i>
        </span>
        {%- endif %}
      </a>
      {% if link.levels > 0 -%}

      {%- endif %}
    </li>
  {%- endfor %}

  {% if customer %}
    <li class="menu-item-mobile">
      <a href="{{ routes.account_url }}" role="button" class="clearfix p-3 d-block text-reset {% if link.active -%} active {%- endif -%}">
        {{ 'customer.link.my_account' | t }}
      </a>
    </li>
  {% else %}
    <li class="menu-item-mobile">
      <a href="{{ routes.account_login_url }}" role="button" class="clearfix p-3 d-block text-reset {% if link.active -%} active {%- endif -%}">
        {{ 'customer.link.login' | t }}
      </a>
    </li>
    <li class="menu-item-mobile">
      <a href="{{ routes.account_register_url }}" role="button" class="clearfix p-3 d-block text-reset {% if link.active -%} active {%- endif -%}">
        {{ 'customer.link.register' | t }}
      </a>
    </li>
  {% endif %}
  </ul>

  <ul class="row no-gutters d-none d-md-flex align-items-center menu-item--container {{ align_class }}">
    {%- for link in links %}
      <li class="col-md-auto menu-item mr-sm-1 mr-md-2 mr-lg-3 {% if link.levels > 0 -%} dropdown {%- endif -%}">
        <a
          href="{{ link.url }}"
          role="button"
          class="
            px-sm-1 px-md-2 px-lg-3
            {%- if link.active -%} active {%- endif -%}
          "
          {%- if link.levels > 0 -%}
            data-target="#menu-dropdown--{{ link.title | handleize }}"
            data-toggle="collapse"
            aria-controls="collapseExample"
            aria-expanded="false"
            aria-label="Toggle Dropdown"
          {%- endif -%}
        >
          {{- link.title | escape -}}
          {% if link.levels > 0 -%}
            <i class="fas fa-fw fa-angle-down"></i>
          {%- endif -%}
        </a>
      </li>
    {%- endfor %}
  </ul>
</div>
