<div
  id="{{ section.id }}--topbar-notification"
  class="
    topbar-notification
    {% if section.settings.topbar_notification__dismiss_button -%} topbar-dismiss {%- endif %}
  "
>
  {% if section.settings.topbar_notification__enable_currency %}
  {% render 'currency-selector' %}
  {% endif %}

  {{ section.settings.topbar_notification__content_text }}
  {% if section.settings.topbar_notification__dismiss_button -%}
  <button id="dismiss-notification" class="dismiss-button" onclick="dismissNotification()">
    <i class="fas fa-times"></i>
  </button>
  {%- endif %}
</div>

<script type="text/javascript">
{% if section.settings.topbar_notification__dismiss_button -%}

function dismissNotification() {
  const topbarNotification = document.getElementById("{{ section.id }}--topbar-notification");
  const mainHeader = document.getElementById('{{ section.id }}--main-header');
  const cookieName = 'topbarNotificationClosed';

  mainHeader.style.marginTop = 0;

  topbarNotification.classList.remove('topbar-sticky');
  topbarNotification.remove();

  setCookie(cookieName, '{{ section.settings.topbar_notification__content_text | md5 }}', 7);
  var height = $('#shopify-section-header').height();
  $('body').css({
    'margin-top': height
  });
}
{% endif %}
</script>

{% style %}
#shopify-section-{{ section.id }} .topbar-notification {
  background-color: {{ section.settings.topbar_notification__background_color }};
  color: {{ section.settings.topbar_notification__foreground_color }};
  font-family: {{ section.settings.topbar_notification__font.family }}, {{ section.settings.topbar_notification__font.fallback_families }};
  font-size: {{ section.settings.topbar_notification__font_size }}px;
  font-style: {{ section.settings.topbar_notification__font.style }};
  font-weight: {{ section.settings.topbar_notification__font.weight }};
  padding: {{ section.settings.topbar_notification__content_padding }}px {{ section.settings.topbar_notification__content_padding | times: 1.5 }}px;
  position: relative;
  text-align: {{ section.settings.topbar_notification__text_align }};
  width: 100%;
  z-index: 9;
}

#shopify-section-{{ section.id }} .topbar-notification p {
  margin-bottom: 0;
}

#shopify-section-{{ section.id }} .topbar-notification a {
  color: inherit;
  text-decoration: underline;
}

#shopify-section-{{ section.id }} .topbar-notification .dismiss-button {
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#shopify-section-{{ section.id }} .topbar-notification.topbar-sticky {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 9;
}
{% endstyle %}
