<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% unless settings.GTM_ID == blank %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GTM_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endunless %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {%- case template -%}
        {%- when 'index' -%}
          {{ shop.name }} | {{ page_title }}
        {%- when '404' -%}
          {{ 'Page Not Found' }} | {{ shop.name }}
        {%- else -%}
          {{ page_title }} | {{ shop.name }}
      {%- endcase -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description }}" />
    {% endif %}

    {{ content_for_header }}

    {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}


    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width" />

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {{ 'animate.min.css' | asset_url | stylesheet_tag }}

    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {{ 'lodash.min.js' | asset_url | script_tag }}

    {% if template == 'index' or template == 'product'  %}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper.min.js' | asset_url | script_tag }}
    {% endif %}

    {% if template == 'product' %}
    {{ 'jquery.fancybox.min.css' |  asset_url |  stylesheet_tag }}
    {{ 'jquery.fancybox.min.js' |  asset_url |  script_tag }}
    {% endif %}

    {% if template == 'cart' %}
    {{ 'bootstrap-datepicker.min.js' |  asset_url |  script_tag }}
    {% endif %}

    {{ 'clipboard.min.js' |  asset_url |  script_tag }}

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

    {{ 'normalize.min.css' | asset_url | stylesheet_tag }}
    {{ 'irvins.css' | asset_url | stylesheet_tag }}

    {% if settings.environment == 'production' %}
    {{ 'vue.min.js' |  asset_url |  script_tag }}
    {% else %}
    {{ 'vue.js' |  asset_url |  script_tag }}
    {% endif %}

    {{ 'fontawesome.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
    {{ 'irvins.js' | asset_url | script_tag }}

    {% if settings.ZENDESK_KEY != blank %}
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{settings.ZENDESK_KEY}}"> </script>
    {% endif %}
  </head>
  <body>
    {% unless settings.GTM_ID == blank %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_ID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endunless %}
    {% section 'header' %}

    {{ content_for_layout }}

    {% section 'footer' %}

    {% style %}
    {{ settings.body_font | font_face }}

    body {
      font-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
      font-style: {{ settings.body_font.style }};
      font-weight: {{ settings.body_font.weight }};
    }
    {% endstyle %}

    {% render 'main-toast' %}
  </body>
</html>