{%- assign free_shipping_limit = shop.metafields.cart.free_shipping_limit -%}
{%- assign cart_subtotal = cart.original_total_price -%}
{%- assign free_shipping_amount = free_shipping_limit | minus: cart_subtotal -%}
{%- assign free_shipping_amount_formatted = free_shipping_amount | money_with_currency -%}
{%- assign free_shipping_percent = cart_subtotal | times: 100 | divided_by: free_shipping_limit -%}

<div id="cart-section" class="container" data-section-id="{{ section.id }}" data-section-type="cart-template">
<template v-if="itemCount > 0">
  <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
    <div class="cart--header mb-5">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-2 mb-3 mb-md-0 text-center text-md-left">
          <h3 class="font-weight-bold m-0">{{ 'cart.general.title' | t }}</h3>
        </div>
        <div class="col-12 col-md-8 mb-3 mb-md-0 text-center">
          <div class="free-shipping-progress-label text-center">
          <template v-if="freeShippingProgressMoney() > 0">
            {{ 'cart.label.free_shipping_progress_html' | t }}
          </template>
          <template v-else>
            {{ 'cart.label.free_shipping_reached_html' | t }}
          </template>
          </div>
          <div class="progress mx-5" style="height: 5px">
            <div class="progress-bar" role="progressbar"
              :style="`width: ${freeShippingProgressPercent()}%; background-color: #fbd41b`"
              :aria-valuenow="freeShippingProgressPercent()"
              aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="delivery-information pt-3">
            {{ section.settings.cart__delivery_information }}
          </div>
        </div>
        <div class="col-12 col-md-2 mb-3 mb-md-0 text-md-right text-center">
          <div class="cart--label--subtotal">{{ 'cart.label.subtotal' | t }}</div>
          <div class="cart--value--subtotal font-weight-bold">@{subtotal}</div>
        </div>
      </div>
    </div>

    {% for block in section.blocks%}
      {% if block.type == 'gift_with_purchase_select' and block.settings.gwp_collection != blank %}
      <div class="_select-description col-md-6 col-sm-12">{{- block.settings.description -}}</div>
        <div class="d-flex flex-row flex-nowrap overflow-auto px-3 _select-container mb-3">
          {% for product in collections[block.settings.gwp_collection].products %}
            <div class="col-md-5 col-10 py-3 px-1">
            {% render 'gwp-select-card', product: product %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="cart--items--container">
      <template v-for="lineItem in lineItems">
        {% render 'cart-item-card' %}
      </template>
    </div>

    <div class="cart-footer pt-3">
      <div class="row">
        <div class="col">
          <h4 class="text-left">{{ 'cart.label.subtotal' | t }}</h4>
        </div>
        <div class="col text-right">
          <h4>@{ subtotal }</h4>
          <template v-if="freeShippingProgressMoney() > 0">
            <small>{{ 'customer.label.free_shipping_false_html' | t: link: section.settings.international_url }}</small>
          </template>
          <template v-else>
            <p style="text-align: right;">
              <small>{{ 'customer.label.free_shipping_true_html' | t: link: section.settings.international_url }}</small>
            </p>
          </template>
        </div>
      </div>
      <div class="row align-items-start justify-content-between">
        <div class="col-md-6">
          <div class="form-group">
            <label for="customer--note" class="label">{{ 'cart.label.customer_note' | t }}</label>
            <textarea id="customer--note" class="form-control" name="note" rows="3">{{ cart.note | strip }}</textarea>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">

          {% if section.settings.enable_delivery_datepicker %}
          <div class="cart-datepicker">
            <p class="mb-0">{{ section.settings.datepicker_title }}</p>
            <div class="input-group">
              <input readonly type="text" class="datepicker form-control">
              <input id="datepicker_value" type="hidden" name="attributes[delivery_date]">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </div>
            </div>
          </div>
          {% endif %}

          <div class="checkout-button text-center mt-4">
            <button type="submit" name="checkout"
              class="cart__submit btn btn-block btn-warning mb-2"
              :disabled="checkoutButtonDisabled || isUpdating || !termsAndConditionsCb"
            >
              <div :class="isUpdating ? 'd-inline-block visible' : 'd-inline-block invisible'">
                <i class="fas fa-spin fa-circle-notch"></i>
              </div>

              <i class="fas fa-shopping-cart"></i>
              {{ 'cart.general.checkout' | t }}
            </button>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="cartTermsAndConditionsCb" v-model="termsAndConditionsCb" />
              <label class="form-check-label" for="cartTermsAndConditionsCb">
              {{ 'customer.label.terms_and_conditions_agreement_html' | t: link: section.settings.terms_and_conditions_url }}
              </label>
            </div>

            <a href="{{ section.settings.continue_shopping_url }}" class="text-danger">
              <small>
                {{ 'cart.label.continue_shopping' | t }}
                <i class="fa fa-fw fa-long-arrow-alt-right"></i>
              </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<template v-else>
  <div class="cart--empty text-center p-5">
    <h3 class="font-weight-bold">{{ 'cart.general.title' | t }}</h3>
    <p>
      {{ 'cart.general.empty' | t }}
    </p>
    <a href="{{ section.settings.continue_shopping_url }}" class="btn btn-warning px-4">
      {{ 'cart.label.continue_shopping' | t }}
      <i class="fa fa-fw fa-long-arrow-alt-right"></i>
    </a>
  </div>
</template>
</div>
<script type="text/javascript">
var cartApp = new Vue({
  el: '#cart-section',
  components: {
    'input-cart-qty': ComponentInputQty,
    'line-item-subtotal': ComponentLineItemSubtotal
  },
  delimiters: ['@{', '}'],
  data: {
    checkoutButtonDisabled: true,
    isUpdating: false,
    subtotal: '{{ cart_subtotal | money_with_currency }}',
    subtotalRaw: '{{ cart_subtotal }}',
    lineItems: [],
    itemCount: '{{ cart.item_count }}',
    currency: '{{ cart.currency }}',
    labelUpdating: '{{ 'cart.label.updating' | t }}',
    freeShippingTier: '{{ free_shipping_limit }}',
    gwpItem: {},
    selectdGwpItem: {},
    selectedGwp: null,
    termsAndConditionsCb: false
  },
  methods: {
    cartIsBusy(isBusy) {
      this.isUpdating = isBusy;
    },
    formatMoney(amount) {
      return `${Shopify.formatMoney(amount)} ${ this.currency }`;
    },
    lineItemImage(img) {
      return Shopify.resizeImage(img, '170x');
    },
    updateCart() {
      this.isUpdating = true;
      const that = this;
      jQuery.getJSON('/cart.js', function(result) {
        that.updateCartResult(result);
      })
    },
    updateCartResult(cart) {
      this.currency = cart.currency;
      this.lineItems = cart.items;
      this.itemCount = cart.item_count;
      this.subtotal = this.formatMoney(cart.original_total_price);
      this.subtotalRaw = cart.original_total_price;
      this.isUpdating = false;
      this.validateGwp();
    },
    removeCart(id, name) {
      this.isUpdating = true;
      this.checkoutButtonDisabled = true;

      const that = this;

      jQuery.post('/cart/change.js', {
        quantity: 0,
        id: id
      }, (result) => {
        {% capture product_name %}
        ${name}
        {% endcapture %}

        showMainToast(`{{ 'cart.general.success' | t }}`, `{{ 'cart.general.cart_removed' | t: product_name: product_name }}`, 'fa-shopping-cart');

        that.updateCart(result);
      }, 'json')
        .catch((error) => {
          const errorResponse = error.responseJSON;

          showMainToast(errorResponse.message, errorResponse.description, 'fa-exclamation-triangle');
        })
        .always(() => {
          that.isUpdating = false;
          updateCartIcon();
        });
    },
    {% if section.settings.enable_delivery_datepicker %}
    setDate(date) {
      this.checkoutButtonDisabled = false;

      jQuery('#datepicker_value').val(date);
    },
    {% endif %}
    freeShippingProgressPercent() {
      return parseInt(this.subtotalRaw) / parseInt(this.freeShippingTier) * 100;
    },
    freeShippingProgressMoney(format = false) {
      const freeShippingProgress = parseInt(this.freeShippingTier) - parseInt(this.subtotalRaw);
      if (format) {
        return this.formatMoney(freeShippingProgress);
      } else {
        return freeShippingProgress;
      }
    },
    updateGwpItem(product, qty) {
      const that = this;
      jQuery.post('/cart/update.js', {
        updates: {
          [product.variants[0].id]: qty,
        }
      }, function(result){
        that.updateCart();
      });
    },
    validateGwp() {
      {% for block in section.blocks %}
      if ('{{ block.type }}' == "gift_with_purchase" && '{{ block.settings.free_item }}'.length > 0) {
      const _start_date = new Date('{{ block.settings.gwp_start_date | date: "%Y-%m-%d %H:%M" }}');
      const _end_date = new Date('{{ block.settings.gwp_end_date | date: "%Y-%m-%d %H:%M" }}');
        const that = this;
        let _OK_collection = false;
        let _OK_product = false;
        if ("{{block.settings.required_collection}}") {
          {% for product in collections[block.settings.required_collection].products %}
            that.lineItems.forEach(lineItem => {
              if (lineItem.id.toString() == '{{ product.variants[0].id }}') {
                _OK_collection = true;
              };
            });
          {% endfor %}
        } else {
          _OK_collection = true;
        }

        if ("{{ block.settings.required_product }}") {
          that.lineItems.forEach(lineItem => {
            if (lineItem.id.toString() == '{{ all_products[block.settings.required_product].variants[0].id }}') {
              _OK_product = true;
            };
          });
        } else {
          _OK_product = true;
        }
        const handle = `{{ block.settings.free_item }}`;

        jQuery.getJSON(`/products/${handle}.js`, function (result) {
          that.gwpItem = result;
          let hasGwp = 0;

          that.lineItems.forEach(lineItem => {
            if (lineItem.product_type == 'Gift With Purchase' && lineItem.id != result.variants[0].id) {
              that.removeCart(lineItem.id, lineItem.title);
            };
            if (lineItem.id == result.variants[0].id) {
              hasGwp = lineItem.quantity;
            };
          });

          if (that.subtotalRaw >= {{ block.settings.min_purchase }}
          && _OK_product
          && _OK_collection
          && (dates.inRange(today, _start_date, _end_date) || (!dates.isValidDate(_start_date) && !dates.isValidDate(_end_date)))
          && result.available) {
            if (hasGwp !== 1) {
              that.updateGwpItem(result, 1);
            }
          } else {
            if (hasGwp > 0) {
              that.updateGwpItem(result, 0);
            }
          }
        });
      } else if ('{{ block.type }}' == "gift_with_purchase_select" && '{{ block.settings.gwp_collection }}'.length > 0 && this.selectedGwp) {
        const that = this;
        const handle = this.selectedGwp;
        jQuery.getJSON(`/products/${handle}.js`, function (result) {
          that.selectedGwpItem = result;
          let hasGwp = 0;
          that.lineItems.forEach(lineItem => {
            if (lineItem.product_type == 'Gift With Purchase' && lineItem.id != result.variants[0].id) {
              that.removeCart(lineItem.id, lineItem.title);
            };
            if (lineItem.id == result.variants[0].id) {
              hasGwp = lineItem.quantity;
            };
          });
          if (that.subtotalRaw >= {{ block.settings.min_purchase }}) {
            if (hasGwp !== 1) {
              that.updateGwpItem(result, 1);
            }
          } else {
            if (hasGwp > 0) {
              that.updateGwpItem(result, 0);
            }
          }
        });
      }
      {% endfor %}
    }
  },
  mounted() {
    this.updateCart();

    {% if section.settings.enable_delivery_datepicker %}
    const deliveryDate = jQuery('.datepicker').val();

    if (deliveryDate !== '') {
      this.checkoutButtonDisabled = false;
    }
    {% else %}
    this.checkoutButtonDisabled = false;
    {% endif %}
  }
})

{% if section.settings.enable_delivery_datepicker %}
const disabledDates = [
  {%- assign disabledDates = section.settings.disabled_dates | newline_to_br | strip_newlines | split: '<br />' -%}
  "{{- disabledDates | join: '", "' -}}"];

const today = new Date('{{ "now" | date: "%Y-%m-%d" }}');
const startDate = new Date(`${today.toISOString()}`);

let leadTime = 2;

/**
 * If today is Friday, then add leadtime 2 more days
 * If today is Saturday, then add leadtime 1 more day
 */
if(today.getDay() == 5) {
  leadTime += 2 ;
}

if(today.getDay() == 6) {
  leadTime++;
}

startDate.setDate(startDate.getDate() + leadTime);
startDate.setHours(0, 0, 0, 0);

const endDate = new Date(`${startDate.toISOString()}`);

endDate.setDate(startDate.getDate() + 30);

endDate.setHours(0, 0, 0, 0);

jQuery('.datepicker').datepicker({
  autoclose: true,
  format: 'dd MM yyyy',
  startDate: startDate,
  endDate: endDate,
  datesDisabled: disabledDates,
  container: '.cart-datepicker',
  daysOfWeekDisabled: [{{ section.settings.days_of_week_disabled }}],
  orientation: 'bottom left',
  todayHighlight: true,
  maxViewMode: 0
})
  .on('changeDate', function (e) {
    const date = new Date(`${e.date}`);
    const timestamp = date.getTime() / 1000;

    cartApp.setDate(timestamp);
  });
{% endif %}
</script>

{% schema %}
{
  "name": {
    "en": "Cart Settings"
  },
  "max_blocks": 99,
  "blocks": [
    {
      "name": {
        "en": "GWP"
      },
      "type": "gift_with_purchase",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": {
            "en": "Title"
          },
          "id": "title"
        },
        {
          "type": "text",
          "label": {
            "en": "Start Date"
          },
          "id": "gwp_start_date",
          "info": "DD MMMM YYYY format. Optional"
        },
        {
          "type": "text",
          "label": {
            "en": "End Date"
          },
          "id": "gwp_end_date",
          "info": "DD MMMM YYYY format. Optional"
        },
        {
          "type": "text",
          "label": {
            "en": "Minimum Purchase (cents)"
          },
          "id": "min_purchase"
        },
        {
          "type": "product",
          "label": {
            "en": "Free Item"
          },
          "id": "free_item"
        },
        {
          "type": "collection",
          "label": {
            "en": "Required Collection"
          },
          "id": "required_collection"
        },
        {
          "type": "product",
          "label": {
            "en": "Required Product"
          },
          "id": "required_product"
        }
      ]
    },
    {
      "name": {
        "en": "GWP Select One"
      },
      "type": "gift_with_purchase_select",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": {
            "en": "Title"
          },
          "id": "title"
        },
        {
          "type": "text",
          "label": {
            "en": "Description"
          },
          "id": "description"
        },
        {
          "type": "text",
          "label": {
            "en": "Minimum Purchase (cents)"
          },
          "id": "min_purchase"
        },
        {
          "type": "collection",
          "label": {
            "en": "GWP Collection"
          },
          "id": "gwp_collection"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "richtext",
      "label": {
        "en": "Delivery Info"
      },
      "id": "cart__delivery_information"
    },
    {
      "type": "url",
      "label": {
        "en": "International URL"
      },
      "id": "international_url"
    },
    {
      "type": "url",
      "label": {
        "en": "Continue Shopping URL"
      },
      "id": "continue_shopping_url"
    },
    {
      "type": "url",
      "label": {
        "en": "Terms and Conditions URL"
      },
      "id": "terms_and_conditions_url"
    },
    {
      "type": "header",
      "content": {
        "en": "Delivery Date Picker Calendar"
      }
    },
    {
      "type": "checkbox",
      "label": {
        "en": "Enable Delivery Date Picker"
      },
      "id": "enable_delivery_datepicker",
      "default": true
    },
    {
      "type": "text",
      "label": {
        "en": "Date Picker Title"
      },
      "id": "datepicker_title",
      "default": "Select delivery / collection date"
    },
    {
      "type": "text",
      "label": {
      "en": "Days of Week Disabled"
      },
      "id": "days_of_week_disabled",
      "default": "0,6",
      "info": {
        "en": "Days of the week that should be disabled. Values are 0 (Sunday) to 6 (Saturday). Multiple values should be comma-separated. Example: disable weekends: '0,6'."
      }
    },
    {
    "type": "textarea",
    "label": {
    "en": "Disabled Dates"
    },
    "id": "disabled_dates",
    "placeholder": "31 December 2020\n01 January 2021",
    "info": {
      "en": "Dates should be disabled. Values should follow valid date format (dd MM yyyy). Multiple values should be newline-separated. Example: \"31 December 2021\""
    }
    }
  ]
}
{% endschema %}
