<div id="customerAccount" class="container pt-5">
  {% comment %}{% render 'breadcrumbs' %}{% endcomment %}

  <div class="row">
    <div class="col-md-3">
      {% render 'customer-sidebar' %}
    </div>
    <div class="col-md-9">
      <template v-if="currentPage == 'account'">
        {% render 'customer-orders' %}
      </template>

      <template v-if="currentPage == 'loyalty__my_points'">
        {% render 'customer-my-points' %}
      </template>

      <template v-if="currentPage == 'loyalty__rewards_and_gifts'">
        {% render 'customer-rewards-and-gifts' %}
      </template>
    </div>
  </div>
</div>

<script type="text/javascript">
  const CustomerAccount = new Vue({
    el:'#customerAccount',
    name: 'CustomerAccount',
    data: {
      currentPage: 'account',
      loyaltyAccount: {{ customer.metafields.poket_loyalty.member_details | json }}
    },
    methods: {
      setPage(page) {
        this.currentPage = page;
      }
    },
    mounted() {
    }
  })

  jQuery(document).ready(function($) {
    const hash = window.location.hash;

    switch (hash) {
      case '#my_points':
        CustomerAccount.setPage('loyalty__my_points');
        break;

      case '#rewards_and_gifts':
        CustomerAccount.setPage('loyalty__rewards_and_gifts');
    }
  });
</script>
