<div id="customer-reset-password">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card rounded-0">
          <div class="card-header text-center">
            <h4 class="font-weight-bold m-0 p-0">{{ 'customer.general.reset_password' | t }}</h4>
          </div>
          <div class="card-body">
            {% form 'reset_customer_password' %}
            <div class="text-center mb-3">{{ 'customer.general.enter_new_password' | t: email: email  }}</div>

            {% if form.errors -%}
            <div class="alert alert-danger">
              {{ form.errors | default_errors }}
            </div>
            {%- endif %}

            <div class="form-group">
              <label for="resetPassword">{{ 'customer.label.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="resetPassword" class="form-control {% if form.errors contains 'password' -%} is-invalid {%- endif -%}">
            </div>

            <div class="form-group">
              <label for="passwordConfirmation">{{ 'customer.label.password_confirmation' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="passwordConfirmation" class="form-control {% if form.errors contains 'password_confirmation' -%} is-invalid {%- endif -%}">
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-login px-5">{{ 'button.reset_password' | t }}</button>
            </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
