<div id="CustomerLoginForm" class="container">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-6">
      <div class="customer-login--card px-5 py-3 my-5">
        <template v-if="forgotPassword">
          {% render 'reset-password-form', form: form %}
        </template>

        <template v-else>
          <h1 class="text-center m-0 py-3">{{ 'customer.label.login' | t | upcase }}</h1>
          {% form 'customer_login' %}
            <div class="form-group">
              {% if form.errors -%}
                <div class="alert alert-danger" role="alert">
                  {{ form.errors | default_errors }}
                </div>
              {%- endif %}

              {% if form.posted_successfully? %}
                <div class="alert alert-success">{{ 'customer.general.reset_password_success' | t }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="customer-login--input-email" class="sr-only">{{ 'customer.label.email' | t }}</label>
              <input name="customer[email]" type="email" class="border-0 shadow-sm form-control form-control-lg" id="customer-login--input-email" placeholder="{{ 'customer.label.email' | t }}" required>
            </div>

            <div class="form-group">
              <label for="customer-login--input-password" class="sr-only">{{ 'customer.label.password' | t }}</label>
              <input name="customer[password]" type="password" class="border-0 shadow-sm form-control form-control-lg" id="customer-login--input-password" placeholder="{{ 'customer.label.password' | t }}" required>
            </div>

            <div class="form-group text-center">
              <button type="submit" name="submit" class="btn border-0 btn-login px-5 shadow-sm">{{ 'button.login' | t }}</button>
            </div>

            <div class="form-group text-center">
              <button @click="enableForgotPassword()" type="button" class="btn btn-link p-0">{{ 'customer.link.forgot_password' | t }}</button>
            </div>
          {% endform %}

          <hr>

          <div class="text-center">
            <p class="mb-0">{{ 'customer.label.dont_have_account' | t }}</p>
            <a href="{{ routes.account_register_url }}" class="p-0 btn btn-link">{{ 'customer.link.register_account' | t }}</a>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const CustomerLoginForm = new Vue({
    el: '#CustomerLoginForm',
    data: {
      forgotPassword: false
    },
    methods: {
      enableForgotPassword() {
        this.forgotPassword = true;
      },
      cancelResetPassword() {
        this.forgotPassword = false;
      }
    },
    delimiters: ['@{', '}']
  });

  jQuery(document).ready(function ($) {
    const hash = window.location.hash;

    if (hash === '#recover') {
      CustomerLoginForm.forgotPassword = true;
    }

    {% if reset_form_success %}
    CustomerLoginForm.forgotPassword = true;
    {% endif %}
  })
</script>
