<div id="customerRegisterForm" class="container">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-6">
      <div class="customer-login--card px-5 py-3 my-5">
        <h1 class="text-center m-0 py-3">{{ 'customer.label.register' | t | upcase }}</h1>
        {% form 'create_customer' %}
          <div class="form-group">
            {% if form.errors -%}
            <div class="alert alert-danger" role="alert">
              {{ form.errors | default_errors }}
            </div>
            {%- endif %}
          </div>
          <div class="form-group">
            <label for="customer-register--input-first_name" class="sr-only">{{ 'customer.label.first_name' | t }}</label>
            <input name="customer[first_name]" type="text" class="border-0 shadow-sm form-control form-control-lg" id="customer-register--input-first_name" placeholder="{{ 'customer.label.first_name' | t }}" required aria-required="true">
          </div>
          <div class="form-group">
            <label for="customer-register--input-last_name" class="sr-only">{{ 'customer.label.last_name' | t }}</label>
            <input name="customer[last_name]" type="text" class="border-0 shadow-sm form-control form-control-lg" id="customer-register--input-last_name" placeholder="{{ 'customer.label.last_name' | t }}" required aria-required="true">
          </div>

          <div class="form-group">
            <label for="customer-register--input-email" class="sr-only">{{ 'customer.label.email' | t }}</label>
            <input name="customer[email]" type="email" class="border-0 shadow-sm form-control form-control-lg" id="customer-register--input-email" placeholder="{{ 'customer.label.email' | t }}" required aria-required="true">
          </div>

          <div class="form-group">
            <label for="customer-register--input-phone" class="sr-only">{{ 'customer.label.phone' | t }}</label>
            <input name="customer[note][phone_number]" type="number" class="border-0 shadow-sm form-control form-control-lg" id="customer-register--input-phone" placeholder="{{ 'customer.label.phone' | t }}" required aria-required="true">
          </div>

          <div class="form-group">
            <label for="customer-register--input-password" class="sr-only">{{ 'customer.label.password' | t }}</label>
            <input name="customer[password]" type="password" class="border-0 shadow-sm form-control form-control-lg" id="customer-register--input-password" placeholder="{{ 'customer.label.password' | t }}" required aria-required="true">
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" v-model="marketingEmailCb" id="customer-register--input-accepts_email_marketing">
              <input type="hidden" name="customer[accepts_marketing]" :value="marketingEmailCb ? 1 : 0" />
              <label class="form-check-label" for="customer-register--input-accepts_email_marketing">
                {{ 'customer.label.accepts_email_marketing' | t }}
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="customer-register--input-terms_and_condition" v-model="termsAndConditionCb">
              <label class="form-check-label" for="customer-register--input-terms_and_condition">
                {{ 'customer.label.terms_and_conditions_agreement_html' | t: link: section.settings.terms_and_conditions_url }}
              </label>
            </div>
          </div>

          <div class="form-group text-center">
            <button type="submit" name="submit" class="btn border-0 btn-login px-5 shadow-sm" :disabled="!termsAndConditionCb">{{ 'button.register' | t }}</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var CustomerRegister = new Vue({
  el: '#customerRegisterForm',
  data: {
    marketingEmailCb: true,
    termsAndConditionCb: false
  },
  delimiters: ['@{', '}']
});
</script>


{% schema %}
{
  "name": {
    "en": "Registration Form"
  },
  "settings": [
    {
      "type": "url",
      "label": {
        "en": "Terms & Conditions URL"
      },
      "id": "terms_and_conditions_url"
    }
  ]
}
{% endschema %}
