<div id="customerOrderSection" class="customer-page customer-order--container py-5">
  <div class="container">
    <div class="customer-order--header my-4">
      <h4 class="font-weight-bold">
        {{ 'customer.general.order_reference' | t }}:
        {{ order.order_number }}
      </h4>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card border-0 rounded-0 customer-order--summary mb-4">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto font-weight-bold">{{ 'customer.label.order_ref' | t }}:</div>
              <div class="col-auto">{{ order.order_number }}</div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto font-weight-bold">{{ 'customer.label.order_date' | t }}:</div>
              <div class="col-auto">{{ order.created_at |  date: format: 'date_at_time' }}</div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto font-weight-bold">{{ 'customer.label.order_total' | t }}:</div>
              <div class="col-auto">{{ order.total_price | money_with_currency }}</div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto font-weight-bold">
                {{ 'customer.label.order_status' | t }}:
              </div>
              <div class="col-auto font-weight-bold">{{ order.fulfillment_status_label | capitalize }}</div>
            </div>
          </div>
        </div>

        {% case order.attributes.type %}
          {% when 'ONLINE' %}
            <div class="card rounded-0 border-0 mb-4 customer-order--shipping-details">
              <div class="card-body">
                <h4 class="font-weight-bold mb-4">{{ 'customer.general.shipping_details' | t }}</h4>
                <div class="mb-3">
                  <div class="font-weight-bold mb-1">{{ 'customer.general.delivery_address' | t }}:</div>
                  {{ order.shipping_address.address1 }} <br>
                  {{ order.shipping_address.address2 }} <br>
                  {{ order.shipping_address.city }} {{ order.shipping_address.zip }}
                </div>

                <div class="mb-3">
                  <div class="font-weight-bold mb-1">{{ 'customer.general.delivery_contact' | t }}:</div>
                  {{ order.shipping_address.name }} <br>
                  {{ order.shipping_address.phone }}
                </div>

                <div class="mb-3">
                  <div class="font-weight-bold mb-1">{{ 'customer.general.delivery_date' | t }}:</div>
                  {% capture delivery_date %} {{ order.attributes.delivery_date }} {% endcapture %}
                  {{ delivery_date }}
                </div>
              </div>
            </div>

          {% when 'PICKUP' %}
            <div class="card rounded-0 border-0 mb-4 customer-order--shipping-details">
              <div class="card-body">
                <h4 class="font-weight-bold mb-4">{{ 'customer.general.pickup_details' | t }}</h4>
                <div class="mb-3">
                  <div class="font-weight-bold mb-1">{{ 'customer.general.pickup_location' | t }}:</div>
                  {{ order.shipping_method.title }}
                </div>

                <div class="mb-3">
                  <div class="font-weight-bold mb-1">{{ 'customer.general.pickup_date' | t }}:</div>
                  {% capture delivery_date %} {{ order.attributes.delivery_date }} {% endcapture %}
                  {{ delivery_date |  date: format: 'date' }}
                </div>
              </div>
            </div>

        {% endcase %}

        <div class="card rounded-0 border-0 mb-4 customer-order--payment-details">
          <div class="card-body">
            <h4 class="font-weight-bold mb-4">{{ 'customer.general.payment_details' | t }}</h4>
            <div class="mb-3">
              <div class="font-weight-bold mb-1">{{ 'customer.general.payment_method' | t }}:</div>
              {% assign transaction = order.transactions |  first %}
              {% if transaction.gateway == 'shopify_payments' %}
                {{ 'customer.general.credit_cart' | t }}
              {% endif %}
            </div>

            <div class="mb-3">
              <div class="font-weight-bold mb-1">{{ 'customer.general.payment_status' | t }}:</div>
              {{ order.financial_status_label }}
            </div>

            <div class="mb-3">
              <div class="font-weight-bold mb-1">{{ 'customer.general.billing_address' | t }}:</div>
              {{ order.shipping_address.name }} <br>
              {{ order.shipping_address.phone }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card border-0 rounded-0 mb-4 customer-order--line-items">
          <div class="card-body">
            {% assign line_item_count = order.line_items | size %}
            <div class="customer-order--items--title font-weight-bold mb-3">{{ 'customer.label.order_count' | t: count: line_item_count }}</div>

            {% assign item_count = 0 %}
            {% for line_item in order.line_items %}
              {% assign item_count = item_count | plus: 1 %}
              <div class="order-line-item--container py-3 {% if item_count != line_item_count -%} border-bottom  {%- endif -%}">
                <div class="row no-gutters">
                  <div class="col-auto pr-3">
                    {{ line_item | img_url: '95x95' | img_tag }}
                  </div>
                  <div class="col">
                    <div class="order-line-item--name pb-2">{{ line_item.title }}</div>
                    <div class="d-md-inline-block pr-4">
                      {{ 'customer.label.price' | t }}:
                      <strong>{{ line_item.final_price | money_with_currency }}</strong>
                    </div>
                    <div class="d-md-inline-block pr-4">
                      {{ 'customer.label.qty' | t }}:
                      <strong>{{ line_item.quantity }}</strong>
                    </div>
                    <div class="d-md-inline-block">
                      {{ 'customer.label.subtotal' | t }}:
                      <strong>{{ line_item.final_line_price | money_with_currency }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="card rounded-0 border-0 customer-order--total-box">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto"><strong>{{ 'customer.label.subtotal' | t }}</strong></div>
              <div class="col-auto"><strong>{{ order.line_items_subtotal_price | money_with_currency }}</strong></div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">{{ 'customer.label.delivery_fee' | t }}</div>
              <div class="col-auto">{{ order.shipping_price | money_with_currency }}</div>
            </div>

            {% if order.total_discounts > 0 %}
            <div class="row justify-content-between">
              <div class="col-auto">
                {{ 'customer.label.discount' | t }} (
                {% for discount_application in order.discount_applications %}
                  <i class="fas text-muted fa-sm fa-fw fa-tags"></i>
                  <em>{{ discount_application.title }}</em>
                {% endfor %}
                )
              </div>
              <div class="col-auto">-{{ order.total_discounts | money_with_currency }}</div>
            </div>
            {% endif %}
            <div class="row justify-content-between">
              <div class="col-auto"><strong>{{ 'customer.label.total' | t }}</strong></div>
              <div class="col-auto"><strong>{{ order.total_price | money_with_currency }}</strong></div>
            </div>
            <div class="row justify-content-between">
              {% for tax_line in order.tax_lines %}
                <div class="col-auto">
                  {{ 'customer.label.gst_included' | t }}
                  ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</div>
                <div class="col-auto">{{ tax_line.price | money_with_currency }}</div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="customer-order--actions text-right pt-4">
          <a class="btn btn-outline cta-button-1 px-5" href="{{ section.settings.cta_button_1__url }}">{{ section.settings.cta_button_1__text }}</a>
          <div></div>
          <a class="btn btn-link cta-button-2 px-5" href="{{ section.settings.cta_button_1__url }}">{{ section.settings.cta_button_2__text }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.cta-button-1 {
  background-color: {{ section.settings.cta_button_1__background_color }};
  border-color: {{ section.settings.cta_button_1__border_color }};
  color: {{ section.settings.cta_button_1__foreground_color }};
}

.cta-button-2 {
  color: {{ section.settings.cta_button_2__foreground_color }};
}

.customer-page {
  background-color: {{ section.settings.background_color }};
  color: {{ section.settings.foreground_color }};
}

.customer-order--summary {
  background-color: {{ section.settings.order_summary__background_color }};
  color: {{ section.settings.order_summary__foreground_color }};
}

.customer-order--shipping-details {
  background-color: {{ section.settings.shipping_details__background_color }};
  color: {{ section.settings.shipping_details__foreground_color }};
}

.customer-order--payment-details {
  background-color: {{ section.settings.payment_details__background_color }};
  color: {{ section.settings.payment_details__foreground_color }};
}

.customer-order--line-items {
  background-color: {{ section.settings.line_items__background_color }};
  color: {{ section.settings.line_items__foreground_color }};
}

.customer-order--total-box {
  background-color: {{ section.settings.total_box__background_color }};
  color: {{ section.settings.total_box__foreground_color }};
}
</style>

{% schema %}
{
  "name": {
    "en": "Order Details"
  },
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#F3F3F3"
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Order Summary"
      }
    },
    {
      "type": "color",
      "id": "order_summary__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "order_summary__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Shipping Details"
      }
    },
    {
      "type": "color",
      "id": "shipping_details__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "shipping_details__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Payment Details"
      }
    },
    {
      "type": "color",
      "id": "payment_details__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "payment_details__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Line Items"
      }
    },
    {
      "type": "color",
      "id": "line_items__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "line_items__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Total Summary"
      }
    },
    {
      "type": "color",
      "id": "total_box__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#FFD419"
    },
    {
      "type": "color",
      "id": "total_box__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "CTA Button 1"
      }
    },
    {
      "type": "url",
      "id": "cta_button_1__url",
      "label": {
        "en": "Link URL"
      }
    },
    {
      "type": "text",
      "id": "cta_button_1__text",
      "label": {
        "en": "Text"
      },
      "default": "Back to My Orders"
    },
    {
      "type": "color",
      "id": "cta_button_1__background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "cta_button_1__border_color",
      "label": {
        "en": "Border Color"
      },
      "default": "#8C8C8C"
    },
    {
      "type": "color",
      "id": "cta_button_1__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "CTA Button 2"
      }
    },
    {
      "type": "url",
      "id": "cta_button_2__url",
      "label": {
        "en": "Link URL"
      }
    },
    {
      "type": "text",
      "id": "cta_button_2__text",
      "label": {
        "en": "Text"
      },
      "default": "Continue Shopping"
    },
    {
      "type": "color",
      "id": "cta_button_2__foreground_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000000"
    }
  ]
}
{% endschema %}
