<div id="customerAddress" class="container py-5">
  <div class="row">
    <div class="col-md-3">
      {% render 'customer-sidebar' %}
    </div>
    <div class="col-md-9">
      <div class="my-order--container">
        <div class="customer-account--header">
          <h1 class="text-center py-3">{{ 'customer.general.address_book' | t }}</h1>
        </div>
        <div class="customer-account--body py-2">
          <div class="row">
            {% for address in customer.addresses -%}
            <div class="col-4 mb-4">
              <div class="card h-100 rounded-0 border-dark">
                <div class="card-body position-relative">
                  {% if address.id == customer.default_address.id -%}
                  <div class="default-address">{{ 'customer.label.default' | t | upcase }}</div>
                  {%- endif %}
                  <p><strong>{{ address.address1 }}</strong></p>
                  <p>{{ address | format_address }}</p>
                </div>
                <div class="card-footer customer-address--footer">
                  <button type="button" @click="addAddressForm(true, {{ address.id }})" class="text-reset btn btn-link m-0 p-0" href="#edit_address">{{ 'customer.link.edit_address' | t}}</button>
                  /
                  <button type="button" @click="deleteAddress({{ address.id }})" class="text-reset btn btn-link p-0 m-0" href="#delete_address">{{ 'customer.link.delete_address' | t}}</button>
                </div>
              </div>
            </div>

            {% form 'customer_address', address %}
              <div id="editAddress-{{ address.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content rounded-0">
                    <div class="modal-header rounded-0">
                      <h5 class="modal-title">{{ address.address1 }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="fist-name" class="font-weight-bold">{{ 'customer.label.first_name' | t }}*</label>
                        <input type="text" name="address[first_name]" class="form-control" value="{{ address.first_name }}" required aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.last_name' | t }}*</label>
                        <input type="text" name="address[last_name]" class="form-control" value="{{ address.last_name }}" required aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.company' | t }}</label>
                        <input type="text" name="address[company]" class="form-control" value="{{ address.company }}">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.address1' | t }}*</label>
                        <input type="text" name="address[address1]" class="form-control" value="{{ address.address1 }}" required aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.address2' | t }}*</label>
                        <input type="text" name="address[address2]" class="form-control"  value="{{ address.address2 }}"required aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.city' | t }}*</label>
                        <input type="text" name="address[city]" class="form-control" value="{{ address.city }}" required aria-required="true">
                      </div>
                      <div id="address_province_wrapper_new" class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.province' | t }}*</label>
                        <input class="address-province-edit form-control" type="text" name="address[province]" value="{{ address.province }}" brequired aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.country' | t }}*</label>
                        <select class="address-country-edit form-control" type="text" name="address[country]" required aria-required="true">
                          {{ all_country_option_tags }}
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.zip' | t }}*</label>
                        <input type="text" name="address[zip]" class="form-control" value="{{ address.zip }}" required aria-required="true">
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold">{{ 'customer.label.phone' | t }}*</label>
                        <input type="text" name="address[phone]" class="form-control" value="{{ address.phone }}" required aria-required="true">
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="address_default_address_new" name="address[default]" value="1" {% if address.id == customer.default_address.id -%} checked {%- endif %}>
                          <label class="form-check-label" for="address_default_address_new">
                            {{ 'customer.label.set_default' | t }}
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer rounded-0">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.close' | t }}</button>
                      <button type="submit" class="btn btn-primary">{{ 'button.save' | t }}</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endform %}

            {%- endfor %}
          </div>
          <div class="text-center mt-4">
            <button type="button" class="btn btn-dark" @click="addAddressForm()">{{ 'button.add_new_address' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="customerAddAddressForm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-0">
        <div class="modal-header rounded-0">
          <h5 class="modal-title">{{ 'customer.general.add_new_address' | t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% form 'customer_address', customer.new_address %}
        <div class="modal-body">
          <div class="form-group">
            <label for="fist-name" class="font-weight-bold">{{ 'customer.label.first_name' | t }}*</label>
            <input type="text" name="address[first_name]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.last_name' | t }}*</label>
            <input type="text" name="address[last_name]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.company' | t }}</label>
            <input type="text" name="address[company]" class="form-control">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.address1' | t }}*</label>
            <input type="text" name="address[address1]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.address2' | t }}*</label>
            <input type="text" name="address[address2]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.city' | t }}*</label>
            <input type="text" name="address[city]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.country' | t }}*</label>
            <select v-model="country" class="address-country-edit form-control" type="text" name="address[country]" data-default="{{ form.country }}" required aria-required="true">
              {{ all_country_option_tags }}
            </select>
          </div>
          <div id="address_province_wrapper_new" class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.province' | t }}*</label>
            <input class="address-province-edit form-control" type="text" name="address[province]" required aria-required="true" data-default="{{ form.province }}">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.zip' | t }}*</label>
            <input type="text" name="address[zip]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <label class="font-weight-bold">{{ 'customer.label.phone' | t }}*</label>
            <input type="text" name="address[phone]" class="form-control" required aria-required="true">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="address_default_address_new" name="address[default]" value="1">
              <label class="form-check-label" for="address_default_address_new">
                {{ 'customer.label.set_default' | t }}
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer rounded-0">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.close' | t }}</button>
          <button type="submit" class="btn btn-primary" value="submit">{{ 'button.save' | t }}</button>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const customerAddress = new Vue({
    el: '#customerAddress',
    name: 'CustomerAddress',
    data: {
      customerAddresses: {{ customer.addresses | json }},
      editAddressData: {},
      country: '{{ form.country }}'
    },
    methods: {
      addAddressForm(edit = false, id = '') {
        let formId = '#customerAddAddressForm';

        if (edit) {
          const selectedAddress = _.find(this.customerAddresses, { 'id': id });
          this.formTitle = selectedAddress.address1;
          this.editAddressData = selectedAddress;

          formId = `#editAddress-${selectedAddress.id}`;

          jQuery(formId).on('show.bs.modal', function () {
            console.log(formId, selectedAddress.country);
            const countrySelector = `${formId} .address-country-edit`;
            jQuery(countrySelector).val(selectedAddress.country).prop('selected', true);
          });
        }


        jQuery(formId).modal('show')
      },
      deleteAddress(id) {
        const deleteConfirmation = confirm("{{ 'customer.general.delete_address_confirm' | t }}");
        if (deleteConfirmation) {
          jQuery.post(`/account/addresses/${id}`, {
            '_method': 'delete'
          }).always(function() {
            location.reload()
          });
        }
      }
    },
    delimiters: ['@{', '}']
  });
</script>
