<div class="collection--wrapper">
    <div class="container">
      {% assign blocks = section.blocks %}
      {% render 'featured-collection-style-1', blocks: blocks %}
    </div>
  </div>
  
  {% style %}
  {% for block in section.blocks %}
  #collection--item--{{ block.id }} {
    font-family: {{ block.settings.collection_font.family }}, {{ block.settings.collection_font.fallback_families }};
    font-style: {{ block.settings.collection_font.style }};
    font-weight: {{ block.settings.collection_font.weight }};
  }
  
  #collection--item--{{ block.id }} .collection--content {
    text-align: {{ block.settings.collection_content_alignment }};
  }
  
  #collection--item--{{ block.id }} .collection--title {
    {% if block.settings.collection_title_background_color != '' %}
      background-color: {{ block.settings.collection_title_background_color }};
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    {% else %}
      padding: 0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    {% endif %}
  
    color: {{ block.settings.collection_title_foreground_color }};
    font-size: {{ block.settings.collection_title_font_size }}px;
  }
  
  #collection--item--{{ block.id }} .collection--button a {
    color: {{ block.settings.collection_button_foreground_color }};
    background-color: {{ block.settings.collection_button_background_color }};
  }
  
  {% endfor%}
  {% endstyle %}
  
  {% schema %}
  {
    "name": {
      "en": "Collection"
    },
    "class": "index-section index-section--flush index-section--collection",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "collection",
        "name": {
          "en": "Collection"
        },
        "settings": [
          {
            "type": "header",
            "content": {
              "en": "General"
            }
          },
          {
            "type": "collection",
            "id": "collection_handle",
            "label": {
              "en": "Collection"
            }
          },
          {
            "type": "font_picker",
            "label": {
              "en": "Font Family"
            },
            "id": "collection_font",
            "default": "roboto_condensed_n7"
          },
          {
            "type": "radio",
            "label": {
              "en": "Content Alignment"
            },
            "id": "collection_content_alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": {
                  "en": "Left"
                }
              },
              {
                "value": "center",
                "label": {
                  "en": "Center"
                }
              },
              {
                "value": "right",
                "label": {
                  "en": "Right"
                }
              }
            ]
          },
          {
            "type": "header",
            "content": {
              "en": "Collection Title"
            }
          },
          {
            "type": "color",
            "id": "collection_title_foreground_color",
            "label": {
              "en": "Title Foreground Color"
            },
            "default": "#FBD41B"
          },
          {
            "type": "color",
            "id": "collection_title_background_color",
            "label": {
              "en": "Title Background Color"
            },
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "collection_title_font_size",
            "label": {
              "en": "Title Font Size"
            },
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 18,
            "unit": "px"
          },
          {
            "type": "header",
            "content": {
              "en": "Collection Button"
            }
          },
          {
            "type": "color",
            "id": "collection_button_foreground_color",
            "label": {
              "en": "Button Foreground Color"
            },
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "id": "collection_button_background_color",
            "label": {
              "en": "Button Background Color"
            },
            "default": "#BE1E2D"
          },
          {
            "type": "select",
            "id": "collection_button_size",
            "label": {
              "en": "Button Size"
            },
            "options": [
              {
                "value": "btn-xs",
                "label": {
                  "en": "Extra Small"
                }
              },
              {
                "value": "btn-sm",
                "label": {
                  "en": "Small"
                }
              },
              {
                "value": "btn-md",
                "label": {
                  "en": "Medium"
                }
              },
              {
                "value": "btn-lg",
                "label": {
                  "en": "Large"
                }
              }
            ],
            "default": "btn-sm"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Featured Collection"
        },
        "category": {
          "en": "Featured"
        }
      }
    ]
  }
  {% endschema %}
  