<div class="container my-5">
  <h3 class="text-center font-weight-bold h4">{{ section.settings.title | upcase }}</h3>
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-md-2 col-6 m-0 p-0">
        {{ block.settings.image | img_url: '600x600', crop: 'center' | img_tag: block.settings.title, 'img-fluid' }}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Featured In"
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Featured In"
      },
      "default": "Featured In"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Featured In"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured In (Companies)"
      },
      "category": {
        "en": "Featured"
      }
    }
  ]
}
{% endschema %}
