<div class="collection--wrapper">
  <div class="container pb-3">
    <h2 class="text-center font-weight-bold">{{ 'featured.label.featured_products' | t | upcase }}</h2>
    {% assign blocks = section.blocks %}
    {% render 'featured-product-style-1', blocks: blocks %} 
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Featured Product"
  },
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product",
      "name": {
        "en": "Featured Product"
      },
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "General"
          }
        },
        {
          "type": "product",
          "id": "product_handle",
          "label": {
            "en": "Featured Product"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured Product"
      },
      "category": {
        "en": "Featured"
      }
    }
  ]
}
{% endschema %}
