<div class="location-list--container mb-3">
{% for block in section.blocks %}
  {% assign page_item = pages[block.settings.page] %}
  <a
    class="rounded-0 btn btn-outline-secondary btn-sm mr-2 mb-2 {% if handle == block.settings.page %} active {% endif %}"
    href="{{ page_item.url }}">{{ block.settings.title }}
  </a>
{% endfor %}
</div>

{% schema %}
{
  "name": {
    "en": "Country Selections"
  },
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    }
  ],
  "max_blocks": 99,
  "blocks": [
    {
      "type": "location",
      "name": {
        "en": "Location"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "page",
          "id": "page",
          "label": {
            "en": "Page"
          }
        }
      ]
    }
  ]
}
{% endschema %}
