
<div class="main-footer">
  <div class="container">
    <div class="row">
      <div class="mb-3 col-sm-3 col-md-4 col-lg-3">
      {% if section.settings.extra_footer_text %}
        <div class="footer-extra-text">
          <small>
            {{ section.settings.extra_footer_text }}
          </small>
        </div>
      {% endif %}

      {% if section.settings.enable_logo %}
        <div class="footer-logo">
          <a href="{{ routes.root_url }}">
            {{ section.settings.logo_image | img_url: '165x54' | img_tag: section.settings.logo_image.alt, 'irv-footer-logo--image' }}
          </a>
        </div>
      {% endif %}
      {% if section.settings.enable_store_information %}
        <div class="store-information">
          <div class="store-information--opening-hours">
            {{ section.settings.opening_hours }}
          </div>
          <ul class="fa-ul store-information--contact">
            <li>
              <span class="fa-li"><i class="fas fa-phone-alt"></i></span>
                {{ section.settings.phone }}
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-envelope"></i></span>
                <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
              </li>
          </ul>
        </div>
      {% endif %}
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'country_flags' %}
          <div class="w-100 d-xl-none d-md-none d-lg-block"></div>
        {% endif %}
      <div class="mb-3 col-md-4 col-lg{% if block.type == 'link_list' or block.type == 'country_flags' %}-auto{% endif %}" {{ block.shopify_attributes }}>
        <div class="block--container">
        {% if block.settings.title %}
          <div class="block--title">
            <strong>{{ block.settings.title | escape }}</strong>
          </div>
        {% endif %}

          <div class="block--content">
          {% case block.type %}
            {% when 'link_list' %}
              {% assign footer_linklist = block.settings.menu %}
              <ul class="section-footer--linklist">
                {% for link in linklists[footer_linklist].links %}
                  <li class="section-footer--linklist-item">
                    <a
                      href="{{ link.url }}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% when 'newsletter' %}
              <div class="section-footer--newsletter">
                <p class="newsletter--content">
                  {{ block.settings.content }}
                </p>

                {% assign formId = 'ContactFooter' %}
                {% form 'customer', id: formId, novalidate: 'novalidate' %}
                  {% if form.posted_successfully? %}
                    <div
                      class="
                        alert
                        alert-success
                        form-message
                        form-message--success
                      "
                      role="alert"
                      tabindex="-1"
                      data-form-status
                    >
                      {{ block.settings.success_message }}
                    </div>
                  {% endif %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="form-group newsletter-form--container">
                    <label class="sr-only" for="newsletter_email">Email Address</label>
                    <input type="email"
                      name="contact[email]"
                      id="input-{{ formId }}"
                      class="form-control newsletter-form--input {% if form.errors contains 'email' %} is-invalid {% endif %}"
                      value="{{ form.email }}"
                      placeholder="{{ block.settings.placeholder }}"
                      aria-label="{{ block.settings.placeholder }}"
                      aria-required="true"
                      required
                      autocorrect="off"
                      autocapitalize="off"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="{{ formId }}-email-error"
                        data-form-status
                      {% endif %}
                    >
                    {% if form.errors contains 'email' %}
                    <div id="{{ formId }}-email-error" class="invalid-feedback">
                      {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                    </div>
                  {% endif %}
                  </div>
                  <button class="btn btn-primary btn-block newsletter-form--button" type="submit" name="commit" id="Subscribe">
                    {{ block.settings.button_label }}
                  </button>
                {% endform %}
              </div>

            {% when 'country_flags' %}
              <div class="section-footer--country-flags">
                {% assign footer_linklist = block.settings.menu %}
                {% assign flag_img_width = block.settings.width %}
                <div class="row no-gutters justify-content-start">
                {% for link in linklists[footer_linklist].links %}
                  <div class="col-auto">
                    {% assign link_title = link.title | split: ':' %}
                    {% capture img_link %}{{ link_title[0] }}.svg{% endcapture %}
                    {% capture img_alt %}{{ link_title[1] }} Flag{% endcapture %}
                    <a href="{{ link.url }}" target="_blank" title="{{ link_title[1] }}">
                      {{ img_link | asset_url | img_tag: img_alt, 'section-footer--country-flags--img' }}
                    </a>
                  </div>
                {% endfor %}
                </div>
              </div>
          {% endcase %}
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% render 'main-modal' %}

{% style %}
#shopify-section-{{ section.id }} .main-footer {
  background-color: {{ section.settings.background_color }};
  font-family: {{ section.settings.font.family }}, {{ section.settings.font.fallback_families }};
  font-size: {{ section.settings.font_size }}px;
  font-style: {{ section.settings.font.style }};
  font-weight: {{ section.settings.font.weight }};
  padding: {{ section.settings.padding_x }}px 0;
}

#shopify-section-{{ section.id }} .newsletter-form--button {
  color: {{ section.settings.background_color }};
  background-color: {{ section.settings.foreground_color }};
}

#shopify-section-{{ section.id }} .section-footer--country-flags--img {
  width: {{flag_img_width }}px;
}
{% endstyle %}

{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "richtext",
      "id": "extra_footer_text",
      "label": {
        "en": "Extra Paragraph"
      }
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": {
         "en": "Foreground Color"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
         "en": "Background Color"
      },
      "default": "#FBD41B"
    },
    {
          "type": "color",
          "id": "text_color",
          "label": {
             "en": "Text Color"
          },
          "default": "#000000"
        },
    {
      "type": "range",
      "id": "padding_x",
      "label": {
        "en": "Padding X"
      },
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "enable_logo",
      "label": {
        "en": "Use Logo"
      }
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": {
        "en": "Logo"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Typography"
      }
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Font Family"
      },
      "id": "font",
      "default": "roboto_condensed_n4"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "header",
      "content": {
        "en": "Store Information"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_store_information",
      "label": {
        "en": "Enable Store Information"
      },
      "default": true
    },
    {
      "type": "html",
      "id": "opening_hours",
      "label": {
        "en": "Opening Hours"
      },
      "default": "Mon - Fri <strong>(excluding PH)</strong>"
    },
    {
      "type": "text",
      "id": "phone",
      "label": {
        "en": "Phone Number"
      },
      "default": "6264 3073"
    },
    {
      "type": "text",
      "id": "email",
      "label": {
        "en": "Email Address"
      },
      "default": "sg@irvinsaltedegg.com"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "en": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "en": "Menu"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "en": "Newsletter signup"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          },
          "info": {
            "en": "Subscribers will be added to your `accepts marketing` [customer list.](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "en": "Get Inside News"
          }
        },
        {
          "type": "textarea",
          "id": "content",
          "label": {
            "en": "Content"
          },
          "default": {
            "en": "Join our mailing list and get first hand news on the new products and promotions."
          }
        },
        {
          "type": "textarea",
          "id": "success_message",
          "label": {
            "en": "Submission Success Message"
          },
          "default": {
            "en": "Thanks for subscribing!"
          }
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": {
            "en": "Placeholder Text"
          },
          "default": {
            "en": "Email address"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button Label"
          },
          "default": {
            "en": "Subscribe"
          }
        }
      ]
    },
    {
      "type": "country_flags",
      "limit": 1,
      "name": {
        "en": "Country Flags"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          },
          "default": {
            "en": "Choose Your Country"
          }
        },
        {
          "type": "range",
          "id": "width",
          "label": {
            "en": "Flag Size"
          },
          "min": 10,
          "max": 100,
          "step": 2,
          "default": 36,
          "unit": "px"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "en": "Menu"
          }
        }
      ]
    }
  ]
}
{% endschema %}
