{% assign header_style = section.settings.header_style %}

<div id="{{ section.id }}--main-header" class="main-header header-{{ header_style }}">
  {% if section.settings.topbar_notification__enable -%}
  {% render 'topbar-notification' %}
  {%- endif %}

  <div class="container main-header--container">
    <div class="row">
      {% case header_style %}
        {% when 'style-1' %}
          {% render 'header-style-1' %}
        {% when 'style-2' %}
          {% render 'header-style-2' %}
      {% endcase %}
    </div>
  </div>
{% assign links = linklists[section.settings.main_nav].links %}
{% render 'top-menu-dropdown', links: links %}
</div>
{% render 'danger-line', color_1: section.settings.dangerline_color_1, color_2: section.settings.dangerline_color_2 %}

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function () {
    const topbarNotification = document.getElementById("{{ section.id }}--topbar-notification");
    const cookieName = 'topbarNotificationClosed';
    if (getCookie(cookieName) === '{{ section.settings.topbar_notification__content_text | md5 }}') {
      topbarNotification.remove();
    };
    {%- if section.settings.sticky_header -%}
      var height = $('#shopify-section-header').height();
      $('body').css({
        'margin-top': height
      });
    {% endif %}
  });
  updateCartIcon();
</script>

{% style %}
#shopify-section-{{ section.id }} .main-header {
  background-color: {{ section.settings.background_color }};
  color: {{ section.settings.foreground_color }};
}

{% if section.settings.sticky_header %}
#shopify-section-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
{% endif %}

#shopify-section-{{ section.id }} .main-header--container {
  padding-top: {{ section.settings.padding_x }}px;
  padding-bottom: {{ section.settings.padding_x }}px;
}


#shopify-section-{{ section.id }} .irv-logo .irv-logo--image {
  width: {{ section.settings.logo_width }}px;
}

#shopify-section-{{ section.id }} .account-cart,
#shopify-section-{{ section.id }} .main-menu {
  font-family: {{ section.settings.font.family }}, {{ section.settings.font.fallback_families }};
  font-size: {{ section.settings.font_size }}px;
  font-style: {{ section.settings.font.style }};
  font-weight: {{ section.settings.font.weight }};
}

{% endstyle %}

{% schema %}
{
  "name": {
    "en": "Header"
  },
  "tag": "section",
  "settings": [

    {
      "type": "header",
      "content": {
        "en": "Topbar Notification"
      }
    },
    {
      "type": "checkbox",
      "id": "topbar_notification__enable",
      "label": {
        "en": "Enable Topbar Notification"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "topbar_notification__dismiss_button",
      "label": {
        "en": "Dismissable"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "topbar_notification__enable_currency",
      "label": {
        "en": "Currencies Selector"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "topbar_notification__background_color",
      "label": {
         "en": "Background Color"
      },
      "default": "#FBD41B"
    },
    {
      "type": "color",
      "id": "topbar_notification__foreground_color",
      "label": {
         "en": "Foreground Color"
      },
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "topbar_notification__text_align",
      "label": {
        "en": "Text Alignment"
      },
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "topbar_notification__content_padding",
      "label": {
        "en": "Content Padding"
      },
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Font Family"
      },
      "id": "topbar_notification__font",
      "default": "roboto_condensed_n3"
    },
    {
      "type": "range",
      "id": "topbar_notification__font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 6,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "richtext",
      "id": "topbar_notification__content_text",
      "label": {
        "en": "Content"
      },
      "default": "<p>Yo! what's up? This is Topbar Notification and I'm very sticky.</p>"
    },
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "select",
      "id": "header_style",
      "label": {
        "en": "Header Style"
      },
      "options": [
        {
          "value": "style-1",
          "label": {
            "en": "Style 1"
          }
        },
        {
          "value": "style-2",
          "label": {
            "en": "Style 2"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": {
        "en": "Sticky Header"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
         "en": "Background Color"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": {
         "en": "Foreground Color"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "padding_x",
      "label": {
        "en": "Padding X"
      },
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "header",
      "content": {
        "en": "Logo Image"
      }
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": {
        "en": "Logo"
      }
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": {
        "en": "Logo Width"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": {
        "en": "Navigation"
      }
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": {
        "en": "Main Navigation"
      }
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Font Family"
      },
      "id": "font",
      "default": "roboto_condensed_n4"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "header",
      "content": {
        "en": "Danger Line"
      }
    },
    {
      "type": "color",
      "id": "dangerline_color_1",
      "label": {
        "en": "Dangerline Color #1"
      },
      "default": "#FBD41B"
    },
    {
      "type": "color",
      "id": "dangerline_color_2",
      "label": {
        "en": "Dangerline Color #2"
      },
      "default": "#000000"
    }
  ]
}
{% endschema %}
