<div class="container{% if section.settings.width == 'full' %}-fluid{% endif %}" id="featured-section-{{ section.id }}">
  <div class="row py-4 h-100
  {% if section.settings.layout == 'right' %}
  flex-column-reverse flex-sm-row
  {% endif %}">
    {% capture image_layout %}
      {% if section.settings.image != blank %}
        <div class="col-md-6 col-sm-12">
          {{ section.settings.image | img_url: '800x', crop: 'center' | img_tag: section.settings.title, 'img-fluid' }}
        </div>
      {% endif %}
    {% endcapture %}

    {% if section.settings.layout == 'left' %}
        {{ image_layout }}
    {% endif %}

    <div class="col-md-6 col-sm-12 my-auto text-{{ section.settings.alignment }}">
      {% if section.settings.overline != blank %}
        <p>{{- section.settings.overline | upcase | escape -}}</p>
      {% endif %}
      {% if section.settings.title != blank %}
        <h3><strong>{{- section.settings.title | escape -}}</strong></h3>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="lead">{{- section.settings.text | strip_html | newline_to_br -}}</p>
        <p class="lead link">{{ section.settings.bottom_text }}</p>
      {% endif %}
      <div class="text-{{ section.settings.alignment }}">
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}">
          <button class="btn mx-2 px-5 btn-{{ section.settings.button_color }} border-0 shadow-none rounded-0 text-{{ section.settings.button_text_color }}">
            {{- section.settings.button_label | escape | upcase -}}
          </button>
        </a>
        {% endif %}
        {% if section.settings.button_label_2 != blank and section.settings.button_link_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}">
          <button class="btn mx-2 px-5 btn-{{ section.settings.button_color }} border-0 shadow-none rounded-0 text-{{ section.settings.button_text_color }}">
            {{- section.settings.button_label_2 | escape | upcase -}}
          </button>
        </a> 
        {% endif %}
      </div>
  </div>

  {% if section.settings.layout == 'right' %}
      {{ image_layout }}
  {% endif %}
  </div>
</div>

{% style %}
#shopify-section-{{ section.id }} {
  background-color: {{ section.settings.background_color }}
}

#featured-section-{{ section.id }} h3 {
  font-family: {{ section.settings.title_font.family }}, {{ section.settings.title_font.fallback_families }};
  font-style: {{ section.settings.title_font.style }};
  font-weight: {{ section.settings.title_font.weight }};
}

#featured-section-{{ section.id }} link {
  color: inherit;
}
{% endstyle %}


{% schema %}
{
  "name": {
    "en": "Image with text"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "width",
      "label": {
        "en": "Width"
      },
      "default": "contained",
      "options": [
        {
          "value": "contained",
          "label": {
            "en": "Contained"
          }
        },
        {
          "value": "full",
          "label": {
            "en": "Full"
          }
        }
      ]
    },
    
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      }
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en": "Image alignment"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "overline",
      "label": {
        "en": "Overline"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content Alignment"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        },
        {
          "value": "justify",
          "label": {
            "en": "Justify"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Title Font Family"
      },
      "id": "title_font",
      "default": "helvetica_n9"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": {
        "en": "Button label 2"
      }
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": {
        "en": "Button link 2"
      }
    },
    {
      "type": "select",
      "id": "button_text_color",
      "label": {
        "en": "Button Text Color"
      },
      "options": [
        {
          "value": "light",
          "label": {
            "en": "Default (White)"
          }
        },
        {
          "value": "dark",
          "label": {
            "en": "Dark (Black)"
          }
        },
        {
          "value": "secondary",
          "label": {
            "en": "Secondary (Grey)"
          }
        },
        {
          "value": "warning",
          "label": {
            "en": "Warning (Yellow)"
          }
        },
        {
          "value": "danger",
          "label": {
            "en": "Danger (Red)"
          }
        },
        {
          "value": "success",
          "label": {
            "en": "Green (Success)"
          }
        },
        {
          "value": "primary",
          "label": {
            "en": "Primary (Blue)"
          }
        },
        {
          "value": "info",
          "label": {
            "en": "Info (Pelorous)"
          }
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": {
        "en": "Button Color"
      },
      "options": [
        {
          "value": "secondary",
          "label": {
            "en": "Default (Grey)"
          }
        },
        {
          "value": "warning",
          "label": {
            "en": "Warning (Yellow)"
          }
        },
        {
          "value": "danger",
          "label": {
            "en": "Danger (Red)"
          }
        },
        {
          "value": "success",
          "label": {
            "en": "Green (Success)"
          }
        },
        {
          "value": "primary",
          "label": {
            "en": "Primary (Blue)"
          }
        },
        {
          "value": "info",
          "label": {
            "en": "Info (Pelorous)"
          }
        },
        {
          "value": "light",
          "label": {
            "en": "Light (White)"
          }
        },
        {
          "value": "dark",
          "label": {
            "en": "Dark (Black)"
          }
        }
      ],
      "default": "secondary"
    },
    {
      "type": "richtext",
      "id": "bottom_text",
      "label": {
        "en": "Text(for link)"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
