{% if section.blocks.size > 0 %}
    <div class="containter my-5">
        <div class="d-flex flex-sm-row flex-column">
        {% for block in section.blocks %}
            <div class="m-0 p-0">
                {{ block.settings.image | img_url: '600x', crop: 'center' | img_tag: block.settings.alt, 'img-fluid' }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": {
        "en": "Images Row"
    },
    "max_blocks": 3,
    "blocks": [
        {
            "type": "image",
            "name": {
                "en": "Image"
            },
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                        "en": "Image"
                    }
                },
                {
                    "type": "text",
                    "id": "alt",
                    "label": {
                        "en": "Alternate Text"
                    }
                }
            ]
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Images Row"
            },
            "category": {
                "en": "Image"
            }
        }
    ]
}

{% endschema %}