{% if section.settings.section_hide == false %}
  <div id="featured--{{section.id}}" class="container-lg">
    <div class="row
    {% if section.settings.section_flip == true %}
      flex-column-reverse flex-sm-row
    {% endif %}">
    
    {% capture image_layout %}
      {% if section.settings.featured_image != blank %}
        <div class="col-md-6 col-sm-12 px-0">
          {{ section.settings.featured_image | img_url: '800x', crop: 'center' | img_tag: section.settings.title, 'img-fluid p-5' }}
        </div>
      {% endif %}
    {% endcapture %}
      
      {% if section.settings.section_flip == false %}
          {{ image_layout }}
      {% endif %}

      <div class="col-md-6 col-sm-12 d-flex" style="height: inherit !important;">
        <div class="align-self-center p-4">
          {% if section.settings.title_text != blank %}
          <h2 class="_custom-font">
            {{ section.settings.title_text }}
          </h2>
          {% endif %}
          {% if section.settings.description_text != blank %}
            {{ section.settings.description_text }}
          {% endif %}
          {% if section.settings.title_text_2 != blank %}
          <h2 class="_custom-font">
            {{ section.settings.title_text_2 }}
          </h2>
          {% endif %}
          {% if section.settings.description_text_2 != blank %}
            {{ section.settings.description_text_2 }}
          {% endif %}
          {% if section.settings.title_text_3 != blank %}
          <h2 class="_custom-font">
            {{ section.settings.title_text_3 }}
          </h2>
          {% endif %}
          {% if section.settings.description_text_3 != blank %}
            {{ section.settings.description_text_3 }}
          {% endif %}
          {% if section.settings.supporting_image != blank %}
            {{ section.settings.supporting_image | img_url: '500x', crop: 'center' | img_tag: section.settings.title, 'img-fluid' }}
          {% endif %}
        </div>
      </div>

      {% if section.settings.section_flip == true %}
          {{ image_layout }}
      {% endif %}
      </div>

  </div>
{% endif %}

<style>
  #featured--{{section.id}} ._custom-font {
    font-size: {{ section.settings.title_font_size }}px;
    font-family: "CF Jacques Parizeau";
    src: url("CFJacquesParizeau-Regular.woff") format("woff"),
    url("CFJacquesParizeau-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
    color: {{ section.settings.title_font_color }};
  }

  #featured--{{section.id}} p {
    font-size: {{ section.settings.description_font_size }}px;
    color: {{ section.settings.description_font_color }};
  }

  #featured--{{section.id}} {
    background-color: {{ section.settings.background_color }};
  }
</style>

{% schema %}
{
  "name": {
    "en": "Featured Section"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "checkbox",
      "id": "section_hide",
      "label": {
        "en": "Hide this Section"
      }
    },
    {
      "type": "checkbox",
      "id": "section_flip",
      "label": {
        "en": "Flip this Section (Left Right)"
      }, 
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#000000"
    },
    {
      "type": "header",
      "content": {
        "en": "Image"
      }
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": {
        "en": "Featured Image"
      }
    },
    {
      "type": "image_picker",
      "id": "supporting_image",
      "label": {
        "en": "Supporting Image"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Title & Description"
      }
    },
    {
      "type": "text",
      "id": "title_text",
      "label": {
        "en": "Title Text 1"
      }
    },
    {
      "type": "text",
      "id": "title_text_2",
      "label": {
        "en": "Title Text 2"
      }
    },
    {
      "type": "text",
      "id": "title_text_3",
      "label": {
        "en": "Title Text 3"
      }
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": {
        "en": "Title Font Size"
      },
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 32,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "title_font_color",
      "label": {
        "en": "Font Color"
      },
      "default": "#fbd41b"
    },
    {
      "type": "richtext",
      "id": "description_text",
      "label": {
        "en": "Description Text 1"
      }
    },
    {
      "type": "richtext",
      "id": "description_text_2",
      "label": {
        "en": "Description Text 2"
      }
    },
    {
      "type": "richtext",
      "id": "description_text_3",
      "label": {
        "en": "Description Text 3"
      }
    },
    {
      "type": "range",
      "id": "description_font_size",
      "label": {
        "en": "Description Font Size"
      },
      "min": 10,
      "max": 40,
      "step": 1,
      "default": 18,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "description_font_color",
      "label": {
        "en": "Description Font Color"
      },
      "default": "#ffffff"
    }
  ]
}
{% endschema %}