<div id="background--{{ section.id }}">
    {% if section.settings.image != blank %}
      <div class="_background"></div>
    {% endif %}
</div>

<style>
#background--{{ section.id }} ._background {
background-image: url({{section.settings.image | img_url: '2160x'}});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
</style>

<script>
console.log({{section.settings | json}})
</script>

{% schema %}
{
  "name": {
    "en": "Background Image"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Desktop Image"
      }
    },
    {
      "type": "checkbox",
      "id": "bgcb",
      "label": {
        "en": "Static"
      },
      "info": {
        "en": "Static background does not move."
      }
    }
  ]
}

{% endschema %}
