{% if section.settings.section_hide == false %}
<div id="closing--{{section.id}}" class="container-lg px-0">
  <div class="closing-wrapper">
    {{ section.settings.image | img_url: '1080x', crop: 'center' | img_tag: section.settings.title, 'img-fluid d-none d-sm-block w-100' }}
    {{ section.settings.image_mobile | img_url: '786px', crop: 'center' | img_tag: section.settings.title, 'img-fluid d-xs-block d-sm-none w-100' }}
  </div>
  <div class="info-container">
    {% if section.settings.title != blank %}
    <h1 class="{% if section.settings.title_font_use_custom %}_custom-font{% endif %} _title">{{ section.settings.title | escape | upcase }}</h1>
    {% endif %}
    <div class="mb-3">
    {% if section.settings.button_label_1 != blank and section.settings.button_url_1 != blank %}
    <a href="{{ section.settings.button_url_1 }}">
    <button class="btn mx-2 px-5 btn-{{ section.settings.button_color }} border-0 shadow-none rounded-0 product-card--button--add-to-cart text-{{ section.settings.button_text_color }}">
      {{- section.settings.button_label_1 | escape | upcase -}}
    </button>
    </a>
    {% endif %}
    {% if section.settings.button_label_2 != blank and section.settings.button_url_2 != blank %}
    <a href="{{ section.settings.button_url_2 }}">
    <button class="btn mx-2 px-5 btn-{{ section.settings.button_color }} border-0 shadow-none rounded-0 product-card--button--add-to-cart text-{{ section.settings.button_text_color }}">
      {{- section.settings.button_label_2 | escape | upcase -}}
    </button>
    </a>
    {% endif %}
    </div>
    {% if section.settings.paragraph_text != blank %}
    <h4 class="{% if section.settings.description_font_use_custom %}_custom-font{% endif %} _description">{{ section.settings.paragraph_text }}</h4>
    {% endif %}
  </div>
</div>
{% endif %}

<style>
  #closing--{{section.id}} {
    position: relative;
  }
  #closing--{{section.id}} .closing-wrapper {
    background-color: {{ section.settings.background_color }};
  }

  #closing--{{section.id}} .info-container {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color:{{ section.settings.font_color }};
  }

  #closing--{{section.id}} ._title {
    color:{{ section.settings.title_font_color }};
    font-size: {{ section.settings.title_font_size }}px;
  }

  #closing--{{section.id}} ._description {
    color:{{ section.settings.description_font_color }};
    font-size: {{ section.settings.description_font_size }}px;
  }

  #closing--{{section.id}} ._custom-font {
    font-family: "CF Jacques Parizeau";
    src: url("CFJacquesParizeau-Regular.woff") format("woff"),
    url("CFJacquesParizeau-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
  }

</style>

{% schema %}
{
  "name": {
    "en": "Closing Image"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "checkbox",
      "id": "section_hide",
      "label": {
        "en": "Hide this Section"
      }
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#fdb41b"
    },
    {
      "type": "header",
      "content": {
        "en": "Images"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Hero Desktop Image"
      }
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": {
        "en": "Hero Mobile Image"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Title"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title Text"
      }
    },
    {
      "type": "checkbox",
      "id": "title_font_use_custom",
      "label": {
        "en": "Use \"CF JACQUES\" font family"
      },
      "default": false
    },
    {
      "type": "color",
      "id": "title_font_color",
      "label": {
        "en": "Font Color"
      },
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 32
    },
    {
      "type": "header",
      "content": {
        "en": "Buttons"
      }
    },
    {
      "type": "select",
      "id": "button_text_color",
      "label": {
        "en": "Button Text Color"
      },
      "options": [
        {
          "value": "light",
          "label": {
            "en": "Default (White)"
          }
        },
        {
          "value": "dark",
          "label": {
            "en": "Dark (Black)"
          }
        },
        {
          "value": "secondary",
          "label": {
            "en": "Secondary (Grey)"
          }
        },
        {
          "value": "warning",
          "label": {
            "en": "Warning (Yellow)"
          }
        },
        {
          "value": "danger",
          "label": {
            "en": "Danger (Red)"
          }
        },
        {
          "value": "success",
          "label": {
            "en": "Green (Success)"
          }
        },
        {
          "value": "primary",
          "label": {
            "en": "Primary (Blue)"
          }
        },
        {
          "value": "info",
          "label": {
            "en": "Info (Pelorous)"
          }
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": {
        "en": "Button Color"
      },
      "options": [
        {
          "value": "secondary",
          "label": {
            "en": "Default (Grey)"
          }
        },
        {
          "value": "warning",
          "label": {
            "en": "Warning (Yellow)"
          }
        },
        {
          "value": "danger",
          "label": {
            "en": "Danger (Red)"
          }
        },
        {
          "value": "success",
          "label": {
            "en": "Green (Success)"
          }
        },
        {
          "value": "primary",
          "label": {
            "en": "Primary (Blue)"
          }
        },
        {
          "value": "info",
          "label": {
            "en": "Info (Pelorous)"
          }
        },
        {
          "value": "light",
          "label": {
            "en": "Light (White)"
          }
        },
        {
          "value": "dark",
          "label": {
            "en": "Dark (Black)"
          }
        }
      ],
      "default": "secondary"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": {
        "en": "Button Text 1"
      }
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": {
        "en": "Button Text 2"
      }
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": {
        "en": "Button URL 1"
      }
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": {
        "en": "Button URL 2"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Description"
      }
    },
    {
      "type": "text",
      "id": "paragraph_text",
      "label": {
        "en": "Bottom Paragraph"
      },
      "default": "What is IRVINS Salted Egg?"
    },
    {
      "type": "checkbox",
      "id": "description_font_use_custom",
      "label": {
        "en": "Use \"CF JACQUES\" font family"
      },
      "default": false
    },
    {
      "type": "color",
      "id": "description_font_color",
      "label": {
        "en": "Font Color"
      },
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "description_font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 18
    },
    {
      "type": "header",
      "content": {
        "en": "Down Arrow (Chevron)"
      }
    },
    {
      "type": "checkbox",
      "id": "chevron",
      "label": {
        "en": "Show Down Arrow (Chevron)"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "chevron_color",
      "label": {
        "en": "Chevron Color"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "chevron_container_color",
      "label": {
        "en": "Chevron Container Color"
      },
      "default": "#fbd41b"
    },
    {
      "type": "select",
      "id": "chevron_size",
      "label": {
        "en": "Chevron Size"
      },
      "options": [
        {
          "value": "1",
          "label": {
            "en": "Small (Default)"
          }
        },
        {
          "value": "2",
          "label": {
            "en": "Medium"
          }
        },
        {
          "value": "3",
          "label": {
            "en": "Large"
          }
        },
        {
          "value": "4",
          "label": {
            "en": "Extra Large"
          }
        }
      ],
      "default": "1"
    }
  ]
}
{% endschema %}
