{% if section.settings.section_hide == false %}
  <div id="product_showcase--{{ section.id }}" class="container-lg px-0">
    <div class="px-5">
      <div class="row text-{{ section.settings.alignment }}">
          {% for block in section.blocks %}
            <div class="col-md-4 col-sm-12 p-4 _custom-font-color">
              {{ block.settings.image | img_url: '400x', crop: 'center' | img_tag: block.settings.title, 'img-fluid' }}
              <h3 class="_custom-title">{{ block.settings.title }}</h3>
              {{ block.settings.description }}
            </div>
          {% endfor %}
        </div>
    </div>
  </div> 
{% endif %}

<style>

  #product_showcase--{{ section.id }} {
    background-color: {{ section.settings.background_color }};
  }
  
  #product_showcase--{{ section.id }} ._custom-title {
    font-size: {{ section.settings.title_font_size }}px;
    font-family: "CF Jacques Parizeau";
    src: url("CFJacquesParizeau-Regular.woff") format("woff"),
    url("CFJacquesParizeau-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  #product_showcase--{{ section.id }} ._custom-font-color {
    color: {{ section.settings.text_color }};
  }

</style>


{% schema %}
{
  "name": {
    "en": "Product Showcase Section"
  },
  "max_blocks": 12,
  "blocks": [
    {
        "type": "image",
        "name": {
            "en": "Product"
        },
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": {
                    "en": "Product Image"
                }
            },
            {
                "type": "text",
                "id": "title",
                "label": {
                    "en": "Product Title"
                }
            },
            {
                "type": "richtext",
                "id": "description",
                "label": {
                    "en": "Product Description"
                }
            }
        ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": {
      "en": "General"
      }
    },
    {
        "type": "checkbox",
        "id": "section_hide",
        "label": {
        "en": "Hide this Section"
        }
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#fdb41b"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content Alignment"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": {
        "en": "Title Font Size"
      },
      "min": 10,
      "max": 144,
      "step": 2,
      "default": 44,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": {
        "en": "Text Color"
      },
      "default": "#000"
    }
  ]
}
{% endschema %}
