<div class="locations-container">
  <div class="row">
  {% for block in section.blocks %}
    {% render 'location-card', location: block.settings %}
  {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Locations Dubai"
  },
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "General"
        }
    }
  ],
  "max_blocks": 99,
  "blocks": [
    {
      "type": "location",
      "name": {
        "en": "Location"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Location Name"
          }
        },
          {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "textarea",
          "id": "opening_hours",
          "label": {
            "en": "Opening Hours"
          }
        },
        {
          "type": "textarea",
          "id": "address",
          "label": {
            "en": "Address"
          }
        },
        {
          "type": "text",
          "id": "button_text",
          "label": {
            "en": "Button Text"
          },
          "default": "Get Direction"
        },
        {
          "type": "url",
          "id": "google_map_url",
          "label": {
            "en": "Button URL"
          }
        }
      ]
    }
  ]
}
{% endschema %}
