<div id="geo-modal-{{ section.id }}" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog popup-animation modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-body _modal-top">
        <div id="Geo_dropdown">
          <p class="lead text-warning"><strong>{{ section.settings.title_text }}</strong></p>
          <p>{{ section.settings.paragraph_text_1 }}</p>
          <div class="m-3">
            <select @change="onChange($event)" class="geo-select mx-auto form-control">      
            {% for block in section.blocks %}
              {% if forloop.first == true %}
                <option selected value='{"country":"{{ block.settings.title }}", "url":"{{ block.settings.url}}","text":"{{ block.settings.overwrite-text }}"}'>{{ block.settings.title }}</option>
              {% else %}
                <option value='{"country":"{{ block.settings.title }}", "url":"{{ block.settings.url}}","text":"{{ block.settings.overwrite-text }}"}'>{{ block.settings.title }}</option>
              {% endif %}  
            {% endfor %}
            </select>
          </div>
          <div>
            <small><p class="text-warning"><em>You'll be redirected to our <span v-html="overwrite_text"></span> site.</em></p></small>
          </div>
          <div class="border border-warning rounded pt-3 mx-auto geo-box-text"><small>{{ section.settings.paragraph_text_2  }}</small></div>
            <div class="py-3">
              <a v-bind:href="url" target="_blank">
                <button class="btn btn-warning">
                  {{ section.settings.button_text }} >
                </button>
              </a>
            </div>
            <div>
              <p type="button" data-dismiss="modal" aria-label="Close"><u>{{ section.settings.paragraph_reject }}</u></p>
            </div>
          </div>
        <button type="button" class="popup-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<style>
.popup-close {
  border: 0;
  border-radius: 50%;
  position: absolute;
  background: red;
  color: white;
  right: -15px;
  top: -15px;
  font-size: 2rem;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 1rem;
}

#geo-modal-{{ section.id }} ._modal-top {
  background-color: black;
  color: #ffffff;
}

#geo-modal-{{ section.id }} ._modal-top select {
  text-align-last: center;
}

#geo-modal-{{ section.id }} .geo-select {
  width: 60%;
}

#geo-modal-{{ section.id }} .geo-box-text {
  width: 80%;
}
</style>
<script type="text/javascript">
  const Geo_dropdown = new Vue({
    el: '#Geo_dropdown',
    data: {
      selected_country: "",
      overwrite_text: "International",
      url: "http://international.irvinsaltedegg.com/"
    },
    methods: {
      onChange(event) {
        let _data = JSON.parse(event.target.value)
        this.selected_country = _data.country;
        this.overwrite_text = _data.text;
        this.url = _data.url;
      }
    }
  });

  jQuery(document).ready(($) => {
    const cookieName = "_ipapi";
    const cookieName_2 = "_ipapi_popup"
    const _country = getCookie(cookieName);
    if (!_country) {
      $.ajax({
        url: 'http://api.ipapi.com/check?access_key={{ settings.IPAPI_KEY}}',   
        dataType: 'jsonp',
        success: function(json) {
          setCookie(cookieName, json.country_name, 30);
          if (json.country_name != "Singapore") {
            $('#geo-modal-{{ section.id }}').modal('show');
          }
        }
      });
    } else if (_country != "Singapore" && getCookie(cookieName_2) != 'closed') {
      $('#geo-modal-{{ section.id }}').modal('show');
    }

    $('#geo-modal-{{ section.id }}').on('shown.bs.modal', function () {
      animateCSS('.popup-animation', 'bounce');
    });

    $('#geo-modal-{{ section.id }}').on('hidden.bs.modal', function () {
      setCookie(cookieName_2, 'closed', 1);
    });
  }); 
</script>
{% schema %}
{
  "name": {
    "en": "Geololcation Check"
  },
  "tag": "section",
  "max_blocks": 99,
  "blocks": [
    {
      "type": "location",
      "name": {
        "en": "Country"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Country Name"
          }
        },
        {
          "type": "text",
          "id": "url",
          "label": {
            "en": "URL"
          }, 
          "default": "https://international.irvinsaltedegg.com/"
        },
        {
          "type": "text",
          "id": "overwrite-text",
          "label": {
            "en": "Overwrite text"
          },
          "default": "International"
        }
      ]
    }
  ],
  "settings":
  [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    {
      "type": "text",
      "id": "title_text",
      "label": {
        "en": "Title Text"
      },
      "default": "Looks like you're not in Singapore!"
    },
    {
      "type": "text",
      "id": "paragraph_text_1",
      "label": {
        "en": "Paragraph 1"
      },
      "default": "Where are you shipping to?"
    },
    {
      "type": "richtext",
      "id": "paragraph_text_2",
      "label": {
        "en": "Paragraph 2"
      },
      "default": "<p>Currently only local deliveries are available on this site. <br /><strong>Try our International site for International Delivery orders.</strong></p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": {
        "en": "Button Text"
      },
      "default": "Take me there"
    },
    {
      "type": "text",
      "id": "paragraph_reject",
      "label": {
        "en": "Reject Text"
      }, 
      "default": "No, stay on this site."
    }
  ],
  "presets":
  [
    {
      "name": {
        "en": "Geolocation Check Pop Up"
      },
      "category": {
        "en": "Others"
      },
      "settings": {
      }
    }
  ]
}
{% endschema %}
