{% assign today_date = "now" | date: "%s" %}
{% assign start_date = section.settings.start_date | date: "%s" %}
{% assign end_date = section.settings.end_date | date: "%s" | plus: 86400 | date: "%s" %}
{% if start_date <= today_date or section.settings.start_date == blank %}
  {% if today_date <= end_date or section.settings.end_date == blank %}
    {% if section.settings.product_dependency == blank or all_products[section.settings.product_dependency].available %}
      <div id="popup-modal-{{ section.id }}" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog popup-animation modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body p-0 shadow">
              <a href="{{ section.settings.popup_url }}">
                <img class="img-fluid popup-image" src="{{ section.settings.popup_image | img_url: '600x600' }}">
              </a>
            </div>    
            <button type="button" class="popup-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}

<style>
  .popup-close {
    border: 0;
    border-radius: 50%;
    position: absolute;
    background: black;
    color: white;
    right: -15px;
    top: -15px;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 1rem;
  }
</style>

<script type="text/javascript">
  jQuery(document).ready(($) => {
    const cookieName = 'popUpBannerClosed';

    $('#popup-modal-{{ section.id }}').on('shown.bs.modal', function () {
      animateCSS('.popup-animation', 'bounce');
    });

    $('#popup-modal-{{ section.id }}').on('hidden.bs.modal', function () {
      setCookie(cookieName, '{{ section.settings.popup_image | md5 }}', 1);
    });

    if (getCookie(cookieName) != '{{ section.settings.popup_image | md5 }}') {
      $('#popup-modal-{{ section.id }}').modal('show');
    }
  });
</script>
{% schema %}
{
  "name": {
    "en": "Pop Up"
  },
  "tag": "section",
  "settings":
  [
    {
      "type": "header",
      "content": {
        "en": "General"
      }
    },
    { 
      "type": "text",
      "id": "start_date",
      "label": {
        "en": "Start Date"
      },
      "info": "DD MMMM YYYY format. Optional"
    },
    { 
      "type": "text",
      "id": "end_date",
      "label": {
        "en": "End Date"
      },
      "info": "DD MMMM YYYY format. Optional"
    },
    {
      "type": "product",
      "id": "product_dependency",
      "label": {
        "en": "GWP Dependency"
      },
      "info": "Disables if this GWP is sold out."
    },  
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": {
        "en": "Pop Up Image"
      }
    },
    {
      "type": "url",
      "id": "popup_url",
      "label": {
        "en": "Click to Action"
      }
    }
  ],
  "presets":
  [
    {
      "name": {
        "en": "Pop Up"
      },
      "category": {
        "en": "Image"
      },
      "settings": {
      }
    }
  ]
}
{% endschema %}
