<div class="container py-5">
  {% render 'breadcrumbs' %}
  <div class="row">
    <div class="col-md-5">
      <div class="product-image--container">
        <!-- Swiper -->
        <div class="swiper-container gallery-top">
          <div class="swiper-wrapper">
            {% for product_image in product.images -%}
              <div class="swiper-slide" style="background-image:url({{ product_image | img_url: '445x445' }})">
                <a
                  class="product-fancybox-button"
                  data-fancybox="gallery" href="{{ product_image | img_url: 'master' }}"
                >
                  <i class="fas fa-plus-circle"></i>
                </a>
              </div>
            {%- endfor %}
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            {% for product_image in product.images -%}
            <div class="swiper-slide" style="background-image:url({{ product_image | img_url: '130x130' }})"></div>
            {%- endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="productDetailPage"  class="col-md-7">
      <div class="product-title">
        <h1>{{ product.title }}</h1>
      </div>
      <div class="product-pricing font-weight-bold">
        <span class="product-pricing--original-price font-weight-bold">
          @{ formatPrice(selectedVariantObject.price) } {{ cart.currency.iso_code }}
        </span>

        {% if product.compare_at_price %}
        <span class="product-pricing--compare-at text-muted font-weight-bold">
          <strike>@{ formatPrice(selectedVariantObject.compare_at_price) } {{ cart.currency.iso_code }}</strike>
        </span>

        <span class="badge badge-danger">{{ 'product.label.on_sale' | t | upcase }}</span>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group product-variant-selection pt-3">
              <label class="sr-only" for="productVariantSelection">
                {{ 'product.label.select_size' | t }}
              </label>
              <select
                id="productVariantSelection"
                class="form-control border-secondary rounded-0 d-none"
                v-model="selectedVariantId"
                :disabled="isLoading"
              >
                {% for product_variant in product.variants -%}
                  <option value="{{ product_variant.id }}">
                    {% if product.has_only_default_variant %}
                      {{ 'product.label.default_size' | t }}
                    {%- else -%}
                      {{ product_variant.title }}
                    {%- endif %}

                    ({{ product_variant.weight | weight_in_unit }}{{ product_variant.weight_unit }})

                    {% unless product_variant.available or product_variant.inventory_policy == 'countinue' %}
                      ({{ 'product.label.out_of_stock' | t }})
                    {% endunless %}
                  </option>
                {%- endfor %}
              </select>
          </div>
          {% render 'product-add-to-cart', product: product %}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 product-description-container">
    {{ product.description }}
  </div>
</div>

<style>
  .swiper-container {
    width: 100%;
    height: 445px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    width: 100%;
  }

  .gallery-thumbs {
    height: 135px;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .product-fancybox-button {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #666666;
    text-decoration: none;
  }

  .product-fancybox-button:hover {
    color: #000000;
  }
</style>

<script type="text/javascript">
  var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  });

  var galleryTop = new Swiper('.gallery-top', {
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    thumbs: {
      swiper: galleryThumbs
    }
  });

  var ProductDetailPage = new Vue({
    delimiters: ['@{', '}'],
    data: {
      isLoading: false,
      productVariants: {{ product.variants | json }},
      quantity: 1,
      selectedVariantId: '{{ product.variants.first.id }}',
      selectedVariantObject: {{ product.variants.first | json }},
      limitItemsText: false
    },
    el: '#productDetailPage',
    methods: {
      addToCart() {
        this.isLoading = true;

        const that = this;

        let nonGwpCount = 0;
        let _cart_items;
        jQuery.getJSON('/cart.js', (cart) => {
          _cart_items = cart.items;
        }).then(() => {
          _cart_items = _cart_items.filter((item) => item.product_type != "Gift With Purchase" && item.key != that.id);
          for (let _cart_item in _cart_items) {
            if (!_cart_items.hasOwnProperty(_cart_item)) continue;
            nonGwpCount += _cart_items[_cart_item].quantity;
          };
          if (this.quantity > ({{ settings.maximum_cart_size }} - nonGwpCount)) {
            this.limitItemsText = true;
            this.quantity = ({{ settings.maximum_cart_size }} - nonGwpCount);
            that.isLoading = false;
          } else {
            jQuery.post('/cart/add.js', {
              quantity: that.quantity,
              id: that.selectedVariantObject.id
            }, function(result) {
              {% capture product_name %}
              ${result.title}
              {% endcapture %}
              showMainToast('{{ 'cart.general.success' | t }}', `{{ 'cart.general.cart_added' | t: product_name: product_name }}`, 'fa-shopping-cart');
            }, 'json')
            .catch((error) => {
              const errorResponse = error.responseJSON;
              showMainToast(errorResponse.message, errorResponse.description, 'fa-exclamation-triangle');
            })
            .always(() => {
              that.isLoading = false;
              updateCartIcon();
            });
          }
        }); 
      },
      cartOnBlur() {
        if (this.quantity == '') {
          this.quantity = 1;
        }
      },
      formatPrice(price) {
        return Shopify.formatMoney(price);
      }
    },
    mounted() {
    },
    watch: {
      quantity: function (newVal, oldVal) {
        if (newVal.toString().match(/^\d{0,2}$/) && (newVal >= 0 || newVal == '')) {
          this.quantity = newVal;
        } else {
          this.quantity = oldVal;
        }
      },
      selectedVariantValue: function (val) {
        this.selectedVariantObject = _.find(this.productVariants, {
          title: val
        })
      }
    }
  });
</script>
