<div id="slideshow" class="slideshow-container">
  <!-- Slider main container -->
  <div class="swiper-container {{ section.settings.slideshow_width }}">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% assign today_date = "now" | date: "%s" %}
      {% for block in section.blocks %}
        {% assign start_date = block.settings.start_date | date: "%s" %}
        {% assign end_date = block.settings.end_date | date: "%s" | plus: 86400 | date: "%s" %}
        {% if start_date <= today_date or block.settings.start_date == blank %}
          {% if today_date <= end_date or block.settings.end_date == blank %}
              <div id="slide-item--{{ block.id }}" class="swiper-slide" {{ block.shopify_attributes }}>
                {% if block.settings.product_dependency == blank or all_products[block.settings.product_dependency].available %}
                {{ block.settings.image | img_url: 'x1000', crop: 'center' | img_tag: block.settings.title, 'img-fluid d-none d-sm-block' }}
                {{ block.settings.image_mobile | img_url: '600x', crop: 'center' | img_tag: block.settings.title, 'img-fluid d-xs-block d-sm-none' }}
                {% else %} 
                {{ block.settings.image_pd | img_url: 'x1000', crop: 'center' | img_tag: block.settings.title, 'img-fluid d-none d-sm-block' }}
                {{ block.settings.image_mobile_pd | img_url: '600x', crop: 'center' | img_tag: block.settings.title, 'img-fluid d-xs-block d-sm-none' }}
                {% endif %}
                <div class="slide-title">{{ block.settings.title_text | upcase }}</div>
                <div class="slide-subtitle">{{ block.settings.subtitle_text | upcase }}</div>
                <a href="{{ block.settings.cta }}" class="stretched-link"></a>
              </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

{% style %}
  .swiper-container {
    padding: 0;
  }

  .slide-title {
    font-family: 'CF Jacques Parizeau', sans-serif;
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .slide-title, .slide-subtitle {
    position: absolute;
  }

  .slide-title p, .slide-subtitle p {
    margin-bottom: 0;
  }

  {% for block in section.blocks %}
    #slide-item--{{ block.id }} .slide-title {
      background: {{ block.settings.title_background_color }};
      {% if block.settings.title_enable_box_shadow %}
      box-shadow: 3px 3px 10px rgba(0,0,0,.5);
      {% endif %}
      color: {{ block.settings.title_color }};
      font-size: {{ block.settings.title_font_size }}rem;
      {% unless block.settings.title_font_use_custom -%}
      font-family: {{ block.settings.title_font.family }}, {{ block.settings.title_font.fallback_families }};
      font-style: {{ block.settings.title_font.style }};
      font-weight: {{ block.settings.title_font.weight }};
      {%- endunless %}
      left: {{ block.settings.title_position_left }}%;
      line-height: {{ block.settings.title_line_height }}rem;
      text-align: {{ block.settings.title_text_align }};
      top: {{ block.settings.title_position_top }}%;
      padding: {{ block.settings.title_box_padding_x }}px {{ block.settings.title_box_padding_y }}px;
      {% if block.settings.title_font_use_custom -%}
      letter-spacing: 1px;
      padding-top: {{ block.settings.title_box_padding_x | minus: 10 }}px;
      {% endif %}
    }

    #slide-item--{{ block.id }} .slide-subtitle {
      background: {{ block.settings.subtitle_background_color }};
      {% if block.settings.subtitle_enable_box_shadow %}
      box-shadow: 3px 3px 10px rgba(0,0,0,.5);
      {% endif %}
      color: {{ block.settings.subtitle_color }};
      font-family: {{ block.settings.subtitle_font.family }}, {{ block.settings.subtitle_font.fallback_families }};
      font-size: {{ block.settings.subtitle_font_size }}rem;
      font-style: {{ block.settings.subtitle_font.style }};
      font-weight: {{ block.settings.subtitle_font.weight }};
      left: {{ block.settings.subtitle_position_left }}%;
      line-height: {{ block.settings.subtitle_line_height }}rem;
      text-align: {{ block.settings.subtitle_text_align }};
      top: {{ block.settings.subtitle_position_top }}%;
      padding: {{ block.settings.subtitle_box_padding_x }}px {{ block.settings.subtitle_box_padding_y }}px;
    }
  {% endfor %}
{% endstyle %}

<script type="text/javascript">
  var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    effect: '{{ section.settings.slideshow_effect }}',
    loop: true,
    speed: {{ section.settings.slideshow_speed }},

    // Autoplay
    {% if section.settings.slideshow_autoplay -%}
    autoplay: {
      delay: {{ section.settings.slideshow_autoplay_delay }},
    },
    {%- endif %}

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  })
</script>

{% schema %}
{
  "name": {
    "en": "Slideshow"
  },
  "class": "index-section index-section--flush index-section--slideshow",
  "max_blocks": 10,
  "settings": [
    {
      "type": "select",
      "id": "slideshow_width",
      "label": {
        "en": "Slide Container"
      },
      "options": [
        {
          "value": "container",
          "label": {
            "en": "Boxed"
          }
        },
        {
          "value": "container-fluid",
          "label": {
            "en": "Full width"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "slideshow_effect",
      "label": {
        "en": "Slide Effect"
      },
      "options": [
        {
          "value": "slide",
          "label": {
            "en": "Slide (default)"
          }
        },
        {
          "value": "fade",
          "label": {
            "en": "Fade"
          }
        },
        {
          "value": "cube",
          "label": {
            "en": "Cube"
          }
        },
        {
          "value": "coverflow",
          "label": {
            "en": "Cover Flow"
          }
        },
        {
          "value": "clip",
          "label": {
            "en": "Clip"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": {
        "en": "Slide Speed"
      },
      "min": 100,
      "max": 5000,
      "step": 100,
      "unit": "ms",
      "default": 500
    },
    {
      "type": "checkbox",
      "id": "slideshow_autoplay",
      "label": {
        "en": "Slideshow Autoplay"
      },
      "default": true
    },
    {
      "type": "range",
      "id": "slideshow_autoplay_delay",
      "label": {
        "en": "Autoplay Delay"
      },
      "min": 1000,
      "max": 5000,
      "step": 500,
      "unit": "ms",
      "default": 3000
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image slide"
      },
      "settings": [
        { 
          "type": "text",
          "id": "start_date",
          "label": {
            "en": "Start Date"
          },
          "info": "DD MMMM YYYY format. Optional"
        },
        { 
          "type": "text",
          "id": "end_date",
          "label": {
            "en": "End Date"
          },
          "info": "DD MMMM YYYY format. Optional"
        },
        {
          "type": "product",
          "id": "product_dependency",
          "label": {
            "en": "GWP Dependency"
          },
          "info": "Triggers 2nd image if this GWP is sold out."
        },        
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image Desktop"
          }
        },
        {
          "type": "image_picker",
          "id": "image_pd",
          "label": {
            "en": "Desktop Image (GWP OOS)"
          }
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": {
            "en": "Image Mobile"
          }
        },
        {
          "type": "image_picker",
          "id": "image_mobile_pd",
          "label": {
            "en": "Image Mobile (GWP OOS)"
          }
        },
        {
          "type": "url",
          "id": "cta",
          "label": {
            "en": "Click To Action"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Title"
          }
        },
        {
          "type": "color",
          "id": "title_color",
          "label": {
            "en": "Text Color"
          },
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "title_background_color",
          "label": {
            "en": "Background Color"
          },
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "select",
          "id": "title_text_align",
          "label": {
            "en": "Text Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "font_picker",
          "label": {
            "en": "Font Family"
          },
          "id": "title_font",
          "default": "roboto_condensed_n7"
        },
        {
          "type": "checkbox",
          "id": "title_font_use_custom",
          "label": {
            "en": "Use \"CF JACQUES\" font family"
          },
          "default": true
        },
        {
          "type": "range",
          "id": "title_position_left",
          "label": {
            "en": "Horizontal Position"
          },
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 10
        },
        {
          "type": "range",
          "id": "title_position_top",
          "label": {
            "en": "Vertical Position"
          },
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "type": "range",
          "id": "title_font_size",
          "label": {
            "en": "Font Size"
          },
          "min": 1,
          "max": 10,
          "step": 0.1,
          "unit": "rem",
          "default": 3
        },
        {
          "type": "range",
          "id": "title_line_height",
          "label": {
            "en": "Line Height"
          },
          "min": 1,
          "max": 10,
          "step": 0.1,
          "unit": "rem",
          "default": 2.5
        },
        {
          "type": "range",
          "id": "title_box_padding_x",
          "label": {
            "en": "Vertical Box Padding"
          },
          "min": 2,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 10
        },
        {
          "type": "range",
          "id": "title_box_padding_y",
          "label": {
            "en": "Horizontal Box Padding"
          },
          "min": 2,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "title_enable_box_shadow",
          "label": {
            "en": "Box Shadow"
          },
          "default": false
        },
        {
          "type": "richtext",
          "id": "title_text",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Sub Title"
          }
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": {
            "en": "Text Color"
          },
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "subtitle_background_color",
          "label": {
            "en": "Background Color"
          },
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "select",
          "id": "subtitle_text_align",
          "label": {
            "en": "Text Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "range",
          "id": "subtitle_position_left",
          "label": {
            "en": "Horizontal Position"
          },
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 10
        },
        {
          "type": "range",
          "id": "subtitle_position_top",
          "label": {
            "en": "Vertical Position"
          },
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 45
        },
        {
          "type": "font_picker",
          "label": {
            "en": "Font Family"
          },
          "id": "subtitle_font",
          "default": "roboto_condensed_n7"
        },
        {
          "type": "range",
          "id": "subtitle_font_size",
          "label": {
            "en": "Font Size"
          },
          "min": 1,
          "max": 10,
          "step": 0.1,
          "unit": "rem",
          "default": 1.2
        },
        {
          "type": "range",
          "id": "subtitle_line_height",
          "label": {
            "en": "Line Height"
          },
          "min": 1,
          "max": 10,
          "step": 0.1,
          "unit": "rem",
          "default": 1.2
        },
        {
          "type": "range",
          "id": "subtitle_box_padding_x",
          "label": {
            "en": "Vertical Box Padding"
          },
          "min": 2,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 10
        },
        {
          "type": "range",
          "id": "subtitle_box_padding_y",
          "label": {
            "en": "Horizontal Box Padding"
          },
          "min": 2,
          "max": 100,
          "step": 2,
          "unit": "px",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "subtitle_enable_box_shadow",
          "label": {
            "en": "Box Shadow"
          },
          "default": false
        },
        {
          "type": "richtext",
          "id": "subtitle_text",
          "label": {
            "en": "Content"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Slideshow"
      },
      "category": {
        "en": "General"
      },
      "settings": {
        "slideshow_width": "container-fluid",
        "slideshow_effect": "slide",
        "slideshow_speed": 500
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
