{% if section.blocks.size > 0 %}
   <div class="container my-5" id="container-{{ section.id }}">
      <div class="row">
         <div class="col-md-12">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel-{{ section.id }}">
                  <div class = "carousel-inner text-center">
                     {% for block in section.blocks %}
                        <div class="carousel-item{% if forloop.first == true %} active{% endif %} mt-5 p-3">
                              <blockquote>
                              {{- block.settings.body | strip_html -}}
                              </blockquote>
                              <p>
                              {{- block.settings.author -}}
                              </p>
                        </div>
                     {% endfor %}
                  </div>

                  <ol class="carousel-indicators">
                     {% for block in section.blocks %}
                        <li data-target="#quote-carousel-{{ section.id }}" data-slide-to="{{ forloop.index | minus: 1 }}" class="mx-2{% if forloop.first == true%} active{% endif %}"> 
                              {{ block.settings.image | img_url: '600x600', crop: 'center' | img_tag: block.settings.author, 'img-fluid' }}
                        </li>
                     {% endfor %}
                  </ol>
            </div>
         </div>
      </div>
   </div>
{% endif %}

{% style %}
    #container-{{ section.id }} {
        background-color: {{ section.settings.background_color }};
    }
    #quote-carousel-{{ section.id }} blockquote {
        color: {{ section.settings.body_color }};
        font-size: {{ section.settings.body_font_size }}px;
        font-family: {{ section.settings.body_font.family }}, {{ section.settings.body_font.fallback_families }};
    }
    #quote-carousel-{{ section.id }} p {
        color: {{ section.settings.author_color }};
        font-size: {{ section.settings.author_font_size }}px;
        font-family: {{ section.settings.author_font.family }}, {{ section.settings.author_font.fallback_families }};
    }
    #quote-carousel-{{ section.id }} .carousel-indicators {
        position: relative;
    }
    #quote-carousel-{{ section.id }} .carousel-indicators li {
        width: {{ section.settings.image_size }}px;
        height: {{ section.settings.image_size }}px;
        cursor: pointer;
        border-radius: 50%;
        opacity: 0.6;
        overflow: hidden;
        transition: all .4s ease-in;
        text-indent: 0;
    }
    #quote-carousel-{{ section.id }} .carousel-indicators .active {
        opacity: 1;
        transition: all .2s;
    }
    #quote-carousel-{{ section.id }} img {
      height: 100%;
      object-fit: cover;
    }
{% endstyle %}

{% schema %}
{
   "name":{
      "en":"Testimonials"
   },
   "settings": [
    {
      "type": "color",
      "id": "body_color",
      "label": {
         "en": "Body Color"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "author_color",
      "label": {
         "en": "Author Color"
      },
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
         "en": "Background Color"
      },
      "default": "#F3F3F3"
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Author Font Family"
      },
      "id": "author_font",
      "default": "roboto_condensed_n4"
    },
    {
      "type": "range",
      "id": "author_font_size",
      "label": {
        "en": "Author Font Size"
      },
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "font_picker",
      "label": {
        "en": "Body Font Family"
      },
      "id": "body_font",
      "default": "roboto_condensed_n4"
    },
    {
      "type": "range",
      "id": "body_font_size",
      "label": {
        "en": "Body Font Size"
      },
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_size",
      "label": {
        "en": "Image Size"
      },
      "min": 50,
      "max": 250,
      "step": 2,
      "unit": "px",
      "default": 50
    }
   ],
   "max_blocks":6,
   "blocks":[
      {
         "type":"testimonial",
         "name":{
            "en":"Testimonial"
         },
         "settings":[
            {
               "type":"text",
               "id":"author",
               "label":{
                  "en":"Author"
               }
            },
            {
               "type":"richtext",
               "id":"body",
               "label":{
                  "en":"Body"
               }
            },
            {
               "type":"image_picker",
               "id":"image",
               "label":{
                  "en":"Image"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Testimonials"
         },
         "category":{
            "en":"General"
         }
      }
   ]
}
{% endschema %}
