function getCookie(cname) {
  const name = getCookieName(cname) + "=";
  const decodedCookie = decodeURIComponent(document.cookie);
  const ca = decodedCookie.split(';');

  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];

    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }

    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }

  return "";
}

function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));

  const expires = "expires="+ d.toUTCString();

  document.cookie = getCookieName(cname) + "=" + cvalue + ";" + expires + ";path=/";
}

function showMainToast (title, body, icon = 'fa-info-circle') {
  const mainToast = jQuery('#mainToast');
  const mainToastIcon = jQuery('#mainToastIcon');
  const mainToastTitle = jQuery('#mainToastTitle');
  const mainToastBody = jQuery('#mainToastBody');

  mainToastBody.html('');
  mainToastTitle.html('');
  mainToastIcon.html('');

  mainToastIcon.append(`<i class="fas fa-fw ${icon}"></i>`);
  mainToastTitle.html(title);
  mainToastBody.html(body);

  mainToast.toast('show');
}

function updateCartIcon (returnValue = false) {
  return new Promise((resolve, reject) => {
    const cartItemCount = jQuery('.cart-item--count');

    cartItemCount.html(getSpinner());

    jQuery.getJSON('/cart.js', function(cart) {
      let _cart_items = cart.items;
      let gwpCount = 0;
      _cart_items = _cart_items.filter((item) => item.product_type == "Gift With Purchase");
      for (let gwp in _cart_items) {
        if (!_cart_items.hasOwnProperty(gwp)) continue;
        gwpCount += _cart_items[gwp].quantity;
      }
      cartItemCount.html(`(${cart.item_count - gwpCount})`);
      if (returnValue) {
        resolve(cart);
      }
    })
      .catch((error) => {
        reject(error);
      });
  });
}

function getCookieName(cookieName) {
  const cookiePrefix = 'irv';
  return `__${cookiePrefix}_${cookieName}`;
}

function addToCart(id, quantity= 1, el = null) {
  const spinner = getSpinner();
  const btn = jQuery(el);
  const btnText = btn.html();

  btn.html(spinner);
  btn.prop('disabled', true);

  jQuery.post('/cart/add.js', {
    quantity: quantity,
    id: id
  }, function(result) {
    {% capture product_name %}
    ${result.title}
    {% endcapture %}
    showMainToast('{{ 'cart.general.success' | t }}', `{{ 'cart.general.cart_added' | t: product_name: product_name }}`, 'fa-shopping-cart');
  }, 'json')
    .catch((error) => {
      const errorResponse = error.responseJSON;

      showMainToast(errorResponse.message, errorResponse.description, 'fa-exclamation-triangle');
    })
    .always(() => {
      updateCartIcon();
      btn.html(btnText).prop('disabled', false);
    });
}
function getSpinner() {
  const spinner = jQuery(document.createElement('span'));

  spinner.attr({
    class: 'spinner-border spinner-border-sm',
    role: 'status',
    'aria-hidden': true
  });

  return spinner;
}

function beforeAddToCart(handle) {
  jQuery.getJSON(`/products/${handle}.js`, function(product) {
    const modal = jQuery('#main-modal');
    const modalBody = jQuery('#main-modal .modal-body');
    const modalTitle = jQuery('#main-modal .modal-title');
    const modalFooter = jQuery('#main-modal .modal-footer');


    modal.modal('show');
    modalTitle.html(`Add to cart - ${product.title}`);
    modalBody.html('');
    modalFooter.hide();

    const selectLabel = jQuery(document.createElement('label')).append('Select variant:');
    const variantSelect = jQuery(document.createElement('select'));
    const addToCartBtn = jQuery(document.createElement('button'));
    const variantImage = jQuery(document.createElement('img'));
    const variantImageContainer = jQuery(document.createElement('div'));
    const spinner = getSpinner();
    const cartQty = jQuery(document.createElement('div'));

    cartQty.addClass('input-group mb-3');
    cartQty.

    variantImageContainer.attr({
      class: 'mb-3 text-center'
    })

    let firstVariantId = '';

    product.variants.forEach(function (variant, index) {
      variantSelect.append(`
        <option value="${variant.id}">
          ${variant.title} (${variant.weight}g) -
          ${Shopify.formatMoney(variant.price)}
        </option>
      `);

      if (index === 0) {
        firstVariantId = variant.id;
      }
    });

    addToCartBtn.attr({
      class: 'btn btn-block btn-secondary rounded-0 mt-3',
      role: 'button'
    })

    addToCartBtn.html('Add To Cart');

    variantSelect.attr({
      name: 'size',
      class: 'custom-select rounded-0 form-control'
    });

    variantImageContainer.append(variantImage);
    modalBody.append(variantImageContainer);
    modalBody.append(selectLabel);
    modalBody.append(variantSelect);
    modalBody.append(addToCartBtn);

    variantSelect.on('change', function () {
      const variantId = parseInt(this.value);

      addToCartSetVariantImage(variantImage, product, variantId);
    });

    addToCartSetVariantImage(variantImage, product, firstVariantId);

    addToCartBtn.on('click', function(e) {
      const selected = variantSelect.children('option:selected').val();

      jQuery(this).attr({
        disabled: true
      });

      addToCartBtn.html(spinner);

      addToCart(selected, 1, this);
    })

    modal.on('hidden.bs.modal', function(e) {
      modalTitle.html('');
      modalBody.html('');
      modalFooter.show();
    })
  });
}

function addToCartSetVariantImage(variantImage, product, variantId) {
  const variantItem = _.find(product.variants, { id: variantId});
  const featuredImage = (variantItem.featured_image !== null) ? variantItem.featured_image : {
    src: product.featured_image,
    alt: product.title
  };

  variantImage.attr({
    alt: featuredImage.alt === null ? product.title : featuredImage.alt,
    src: Shopify.resizeImage(featuredImage.src, '500x500'),
    class: 'img-fluid'
  });
}

var ComponentInputQty = {
  props: ['qty', 'id', 'labelUpdating'],
  name: 'input-cart-qty',
  data() {
    return {
      quantity: 0,
      isUpdating: false
    }
  },
  methods: {
    addQty(qty) {
      this.quantity = parseInt(this.quantity) + parseInt(qty);
      this.updateCart();
    },
    updateQty() {
      if (parseInt(this.quantity) <= 0) {
        this.quantity = 1;
      }
      this.updateCart()
    },
    minusButtonDisabled() {
      return this.quantity === 1 || this.isUpdating;
    },
    plusButtonDisabled() {
      return this.isUpdating;
    },
    isNumber: function(evt) {
      evt = (evt) ? evt : window.Event;
      const charCode = (evt.which) ? evt.which : evt.code;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    updateCart: _.debounce(function() {
      this.isUpdating = true;

      this.$emit('cartupdating', true);

      const that = this;
      let nonGwpCount = 0;
      let _cart_items;
      jQuery.getJSON('/cart.js', (cart) => {
        _cart_items = cart.items;
      }).then(() => {
        _cart_items = _cart_items.filter((item) => item.product_type != "Gift With Purchase" && item.key != that.id);
        for (let _cart_item in _cart_items) {
          if (!_cart_items.hasOwnProperty(_cart_item)) continue;
          nonGwpCount += _cart_items[_cart_item].quantity;
        }
        if (this.quantity > ({{ settings.maximum_cart_size }} - nonGwpCount)) {
          this.quantity = ({{ settings.maximum_cart_size }} - nonGwpCount);
          showMainToast('{{ 'cart.general.unsuccessful' | t }}', '{{ 'cart.general.cart_exceeded' | t: size: settings.maximum_cart_size }}', 'fa-shopping-cart');
        } else {
          showMainToast('{{ 'cart.general.success' | t }}', '{{ 'cart.general.cart_updated' | t }}', 'fa-shopping-cart');
        };
        jQuery.post('/cart/change.js', {
          quantity: that.quantity,
          id: that.id
        })
        .catch((error) => {
          const errorResponse = error.responseJSON;
          showMainToast(errorResponse.message, errorResponse.description, 'fa-exclamation-triangle');
        }).always(() => {
          updateCartIcon(true).then(result => {
            that.$emit('cartupdated', result);
            that.quantity = that.qty
          });
        })
      }).always(() => {
        that.isUpdating = false;
      });;
    }, 1000)
  },
  mounted() {
    this.quantity = this.qty;
  },
  watch: {
    qty: function(newVal) {
      this.quantity = newVal;
    }
  },
  template: `<div class="add-to-cart-quantity text-center">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    id="button-minus"
                    class="btn btn-warning rounded-0"
                    @click="addQty(-1)"
                    :disabled="minusButtonDisabled()"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control text-center border-warning"
                  aria-label="Line item quantity"
                  v-model="quantity"
                  :disabled="isUpdating"
                  @keypress="isNumber($event)"
                  @keyup="updateQty()"
                >
                <div class="input-group-append">
                  <button
                    type="button"
                    id="button-plus"
                    class="btn btn-warning rounded-0"
                    @click="addQty(1)"
                    :disabled="plusButtonDisabled()"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <div v-if="isUpdating" class="add-to-cart-quantity--info text-muted pt-2">
                <i class="fas fa-circle-notch fa-spin"></i>
                <span>{{ labelUpdating }}</span>
              </div>
            </div>
            `
};

var ComponentLineItemSubtotal = {
  name: 'line-item-subtotal',
  props: ['subtotal'],
  template: `<div class="cart--label--line-price text-center">
              {{ subtotal }}
             </div>`
}

var animateCSS = (element, animation, prefix = 'animate__') =>
  // We create a Promise and return it
  new Promise((resolve, reject) => {
    const animationName = `${prefix}${animation}`;
    const node = document.querySelector(element);

    node.classList.add(`${prefix}animated`, animationName);

    // When the animation ends, we clean the classes and resolve the Promise
    function handleAnimationEnd() {
      node.classList.remove(`${prefix}animated`, animationName);
      node.removeEventListener('animationend', handleAnimationEnd);

      resolve('Animation ended');
    }

    node.addEventListener('animationend', handleAnimationEnd);
  });

jQuery(document).ready(function ($) {
  const mainToast = jQuery('#mainToast');

  $('.mobile-menu-button').on('click', function () {
    const target = $(this).attr('data-target');
    const level = $(this).attr('data-level');

    if (level == 'root') {
      $('body').toggleClass('noscroll');
    }

    $(this).toggleClass('active');


    if ($(target).hasClass('open')) {
      animateCSS(target, 'bounceOut')
        .then(() => {
          $(target).removeClass('open');
        });
    } else {
      $(target).addClass('open');
      animateCSS(target, 'bounceIn');
    }
  });

  mainToast.on('show.bs.toast', function() {
    animateCSS('#mainToast', 'bounceInDown');
  });

  new ClipboardJS('.btn');
});


var dates = {
  convert:function(d) {
    return (
      d.constructor === Date ? d :
      d.constructor === Array ? new Date(d[0],d[1],d[2]) :
      d.constructor === Number ? new Date(d) :
      d.constructor === String ? new Date(d) :
      typeof d === "object" ? new Date(d.year,d.month,d.date) : NaN
    );
  },
  isValidDate:function(d) {
    return d instanceof Date && !isNaN(d);
  },
  inRange:function(d,start,end) {
    return (
      isFinite(d=this.convert(d).valueOf()) &&
      isFinite(start=this.convert(start).valueOf()) &&
      isFinite(end=this.convert(end).valueOf()) ?
      start <= d && d <= end :
      NaN
    );
  }
}
