{% if request.path == '/collections/all' or request.path == '/collections' %}
  <script>window.location.href= '/collections/all-snacks'</script>
{% endif %}

<div id="collection-page--{{ collection.id }}" class="collection-page--wrapper">
  <div class="container">
    {% render 'breadcrumbs' %}
    <div class="collection-page--title">
      <h1>{{collection.title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="collection--sidebar--container">
          {% render 'sidebar--collection-list' %}
        </div>
      </div>

      <div class="col-md-9">
        <div class="collection--products--container">
          <div class="row">
          {% for product in collection.products %}
            <div class="col-md-4 pb-4">
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #collection-page--{{ collection.id }} .card {
     overflow: hidden;
  }
  
  #collection-page--{{ collection.id }} .card ._sale {
    right: 0;
    margin: 0 -75px 0 0;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    width: 230px;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, #ff3019 0%,#cf0404 100%);
    background: #ff3019;
    color: #fff;
  }
  
  #collection-page--{{ collection.id }} .card aside p { 
    padding: 10px 60px 10px 80px; 
    margin: 0;   
  }
</style>