<div id="page-landing-{{ page.id }}">
    <div>
        {% section 'landing-page_background' %}
        {% section 'landing-page_hero' %}
        {% section 'landing-page_intro-section' %}
        {% section 'landing-page_product-showcase' %}
        {% section 'landing-page_featured-section' %}
        {% section 'landing-page_closing' %}
    </div>
</div>