<div class="template--page--contact-us container py-4">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>

  {% if page.content.size > 0 %}
  <div class="page-content">
    {{ page.content }}
  </div>
  {% endif %}

  <div class="contact-form">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
      {% render 'form-status', form: form, form_id: formId %}

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="sr-only" for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input
              class="form-control form-control-lg"
              type="text" id="{{ formId }}-name"
              name="contact[{{ 'contact.form.name' | t }}]"
              placeholder="{{ 'contact.form.name' | t }}"
              value="{%- if form[name] -%}{{- form[name] -}}{%- endif -%}">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="sr-only" for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input
              class="form-control form-control-lg"
              placeholder="{{ 'contact.form.email' | t }}"
              type="email"
              id="{{ formId }}-email"
              name="contact[email]"
              autocorrect="off"
              autocapitalize="off"
              value="{%- if form.email -%}{{- form.email -}}{%- endif -%}"
              aria-required="true"
              {%- if form.errors contains 'email' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
            >
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
            {%- endif -%}
          </div>
        </div>

      </div>

      <div class="form-group">
        <label class="sr-only" for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
        <input
          class="form-control form-control-lg"
          type="tel"
          id="{{ formId }}-phone"
          name="contact[{{ 'contact.form.phone' | t }}]"
          placeholder="{{ 'contact.form.phone' | t }}"
          pattern="[0-9\-]*"
          value="{%- if form[phone] -%}{{- form[phone] -}}{%- endif -%}"
        >
      </div>

      <div class="form-group">
        <label class="sr-only" for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
        <textarea
          class="form-control form-control-lg"
          rows="10"
          id="{{ formId }}-message"
          name="contact[{{ 'contact.form.message' | t }}]"
          placeholder="{{ 'contact.form.message' | t }}"
        >
          {%- if form.body -%}{{- form.body -}}{%- endif -%}
        </textarea>
      </div>

      <button role="button" type="submit" class="btn btn-secondary btn-lg" value="{{ 'contact.form.submit' | t }}">
        {{ 'contact.form.submit' | t }}
      </button>

    {% endform %}
  </div>
</div>
